Zafiyet Yonetimi CVE Akisi.json
{
  "name": "Vuln Intel Suite v1",
  "nodes": [
    {
      "id": "vic-001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2300,
        500
      ],
      "parameters": {}
    },
    {
      "id": "vic-002",
      "name": "Schedule Trigger (Every 6h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2300,
        700
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "vic-003",
      "name": "Schedule Daily (24h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2300,
        900
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8
            }
          ]
        }
      }
    },
    {
      "id": "vic-004",
      "name": "Report API Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2300,
        1100
      ],
      "webhookId": "vuln-report-run",
      "parameters": {
        "httpMethod": "GET",
        "path": "vuln-report-run",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "vic-005",
      "name": "NVD API Pull (30h)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1980,
        -100
      ],
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "resultsPerPage",
              "value": "2000"
            },
            {
              "name": "lastModStartDate",
              "value": "={{ $now.minus({ hours: 30 }).toUTC().toISO() }}"
            },
            {
              "name": "lastModEndDate",
              "value": "={{ $now.toUTC().toISO() }}"
            }
          ]
        },
        "options": {
          "timeout": 120000,
          "pagination": {
            "pagination": {
              "paginationMode": "updateAParameterInEachRequest",
              "parameters": {
                "parameters": [
                  {
                    "type": "qs",
                    "name": "startIndex",
                    "value": "={{ $pagination.requestCount * 2000 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ ($response.body[\"startIndex\"] + $response.body[\"resultsPerPage\"]) >= $response.body[\"totalResults\"] }}",
              "limitPagesFetched": true,
              "maxRequests": 10,
              "requestInterval": 6500
            }
          }
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "id": "vic-006",
      "name": "Normalize NVD CVEs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1180,
        -100
      ],
      "parameters": {
        "jsCode": "// 2) CVE ID normalize — NVD recent + modified birlesimi, en guncel kayit kazanir\nconst map = {};\nfor (const item of $input.all()) {\n  for (const v of (item.json.vulnerabilities || [])) {\n    const c = v.cve || {};\n    const id = (c.id || '').toUpperCase().trim();\n    if (!/^CVE-\\d{4}-\\d{4,7}$/.test(id)) continue;\n    const lastMod = c.lastModified || '';\n    if (map[id] && map[id].lastModified >= lastMod) continue;\n\n    const m = c.metrics || {};\n    // CVSS fallback: v3.1 -> v3.0 -> v4.0 -> v2 (ilk dolu olani al)\n    const pick = (arr) => (arr && arr[0]) ? arr[0] : null;\n    const me31 = pick(m.cvssMetricV31), me30 = pick(m.cvssMetricV30),\n          me40 = pick(m.cvssMetricV40), me2 = pick(m.cvssMetricV2);\n    let cvssScore = null, cvssSeverity = null, cvssVector = null, cvssVersion = null;\n    for (const cand of [\n      me31 && { d: me31.cvssData, sev: me31.cvssData && me31.cvssData.baseSeverity, ver: '3.1' },\n      me30 && { d: me30.cvssData, sev: me30.cvssData && me30.cvssData.baseSeverity, ver: '3.0' },\n      me40 && { d: me40.cvssData, sev: me40.cvssData && me40.cvssData.baseSeverity, ver: '4.0' },\n      me2  && { d: me2.cvssData,  sev: me2.baseSeverity, ver: '2.0' }\n    ]) {\n      if (cand && cand.d && cand.d.baseScore != null) {\n        cvssScore = cand.d.baseScore;\n        cvssSeverity = (cand.sev || cand.d.baseSeverity || '').toUpperCase() || null;\n        cvssVector = cand.d.vectorString || null;\n        cvssVersion = cand.ver;\n        break;\n      }\n    }\n\n    // CPE'den vendor:product ciftleri (KANIT) — eslestirme yalnizca bunlara gore\n    const cpePairs = new Set();\n    const walk = (nodes) => {\n      for (const node of (nodes || [])) {\n        for (const cm of (node.cpeMatch || [])) {\n          // cpe:2.3:part:vendor:product:version:...\n          const p = (cm.criteria || '').split(':');\n          if (p.length > 4 && p[3] && p[4] && p[3] !== '*' && p[4] !== '*') {\n            cpePairs.add((p[3] + ':' + p[4]).toLowerCase());\n          }\n        }\n        if (node.children) walk(node.children);\n      }\n    };\n    for (const conf of (c.configurations || [])) walk(conf.nodes || []);\n\n    map[id] = {\n      cveId: id,\n      published: c.published || null,\n      lastModified: lastMod,\n      cvssScore: cvssScore,\n      cvssSeverity: cvssSeverity,\n      cvssVector: cvssVector,\n      cvssVersion: cvssVersion,\n      description: (((c.descriptions || []).find(x => x.lang === 'en') || {}).value || '').slice(0, 500),\n      cwe: (c.weaknesses || []).flatMap(w => (w.description || []).map(d => d.value)).filter(x => x && x !== 'NVD-CWE-noinfo'),\n      vendorRefs: (c.references || []).map(rf => rf.url).filter(Boolean).slice(0, 6),\n      cpePairs: [...cpePairs],\n      products: [...new Set([...cpePairs].map(x => x.split(':')[1]))]\n    };\n  }\n}\nreturn [{ json: { kind: 'nvd', count: Object.keys(map).length, data: map } }];"
      }
    },
    {
      "id": "vic-007",
      "name": "CISA KEV Catalog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1980,
        240
      ],
      "parameters": {
        "url": "https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json",
        "options": {
          "timeout": 60000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "vic-008",
      "name": "Build KEV Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1180,
        240
      ],
      "parameters": {
        "jsCode": "// 3) CISA KEV katalogunu cveId -> kayit haritasina cevir\nconst j = $input.first().json || {};\nconst map = {};\nfor (const v of (j.vulnerabilities || [])) {\n  const id = (v.cveID || '').toUpperCase().trim();\n  if (!id) continue;\n  map[id] = {\n    name: v.vulnerabilityName || '',\n    dateAdded: v.dateAdded || null,\n    dueDate: v.dueDate || null,\n    ransomware: ((v.knownRansomwareCampaignUse || '') + '').toLowerCase() === 'known'\n  };\n}\nreturn [{ json: { kind: 'kev', count: Object.keys(map).length, data: map } }];"
      }
    },
    {
      "id": "vic-009",
      "name": "Inventory Registry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1980,
        360
      ],
      "parameters": {
        "jsCode": "// ====== ENVANTER LISTESI — TUM KURUMSAL ENVANTER BURAYA GIRILIR ======\n// product       : raporlarda gorunecek urun adi\n// cpe           : NVD CPE vendor:product token(lari) — eslestirme YALNIZCA bunlara gore yapilir (kanit)\n// keywords      : CVE aciklamasi / CPE / feed basliklarinda aranacak kelimeler (kucuk harf)\n// internetFacing: urun internete acik mi (Critical kosulu icin)\n// owner         : sorumlu ekip (raporda gorunur)\n// criticality   : business criticality (low/medium/high/critical)\n// dataClassification: veri siniflandirmasi (Restricted/Confidential/Internal/Public)\nconst INVENTORY = [\n  { product: \"Fortinet FortiGate\", cpe: [\"fortinet:fortios\",\"fortinet:fortigate\",\"fortinet:fortiproxy\"], internetFacing: true, owner: \"Network\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Ivanti Connect Secure\", cpe: [\"ivanti:connect_secure\",\"pulsesecure:pulse_connect_secure\"], internetFacing: true, owner: \"Network\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Citrix ADC\", cpe: [\"citrix:netscaler_application_delivery_controller\",\"citrix:application_delivery_controller\",\"citrix:netscaler_adc\"], internetFacing: true, owner: \"Network\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Palo Alto PAN-OS\", cpe: [\"paloaltonetworks:pan-os\"], internetFacing: true, owner: \"Network\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Cisco ASA\", cpe: [\"cisco:adaptive_security_appliance_software\",\"cisco:asa\"], internetFacing: true, owner: \"Network\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Imperva WAF\", cpe: [\"imperva:securesphere\",\"imperva:incapsula\"], internetFacing: true, owner: \"AppSec\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Aruba ClearPass\", cpe: [\"arubanetworks:clearpass_policy_manager\",\"hpe:clearpass_policy_manager\"], internetFacing: false, owner: \"Network\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"Netscout Arbor\", cpe: [\"netscout:arbor_edge_defense\",\"arbor_networks:arbor\"], internetFacing: true, owner: \"Network\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Forescout CounterACT\", cpe: [\"forescout:counteract\"], internetFacing: false, owner: \"Network\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"A10 SSL Visibility\", cpe: [\"a10networks:thunder_ssli\",\"a10networks:advanced_core_operating_system\"], internetFacing: false, owner: \"Network\", criticality: \"high\", dataClassification: \"Restricted\" },\n  { product: \"Aruba Wireless Ctrl\", cpe: [\"arubanetworks:arubaos\",\"hpe:arubaos\"], internetFacing: false, owner: \"Network\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Cortex XSOAR\", cpe: [\"paloaltonetworks:cortex_xsoar\",\"paloaltonetworks:demisto\"], internetFacing: false, owner: \"CDC\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Splunk Enterprise\", cpe: [\"splunk:splunk\"], internetFacing: false, owner: \"CDC\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"n8n\", cpe: [\"n8n:n8n\"], internetFacing: true, owner: \"CDC\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"Ollama\", cpe: [\"ollama:ollama\"], internetFacing: false, owner: \"CDC\", criticality: \"medium\", dataClassification: \"Internal\" },\n  { product: \"Trellix Network Security\", cpe: [\"fireeye:network_security\",\"trellix:network_security\"], internetFacing: false, owner: \"CDC\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"Trellix Email Security\", cpe: [\"fireeye:email_security\",\"trellix:email_security\"], internetFacing: true, owner: \"SecOps\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"OPSWAT ESG\", cpe: [\"opswat:email_security\"], internetFacing: true, owner: \"SecOps\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"OPSWAT MetaDefender\", cpe: [\"opswat:metadefender\"], internetFacing: false, owner: \"SecOps\", criticality: \"high\", dataClassification: \"Restricted\" },\n  { product: \"Binalyze AIR\", cpe: [\"binalyze:air\"], internetFacing: false, owner: \"CDC\", criticality: \"high\", dataClassification: \"Restricted\" },\n  { product: \"Fortinet FortiDeceptor\", cpe: [\"fortinet:fortideceptor\"], internetFacing: false, owner: \"CDC\", criticality: \"medium\", dataClassification: \"Confidential\" },\n  { product: \"FileOrbis\", cpe: [\"fileorbis:fileorbis\"], internetFacing: true, owner: \"SecOps\", criticality: \"high\", dataClassification: \"Restricted\" },\n  { product: \"CrowdStrike Falcon\", cpe: [\"crowdstrike:falcon\",\"crowdstrike:falcon_sensor\"], internetFacing: false, owner: \"Endpoint\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Cybereason\", cpe: [\"cybereason:cybereason\"], internetFacing: false, owner: \"Endpoint\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Trellix Endpoint\", cpe: [\"mcafee:endpoint_security\",\"trellix:endpoint_security\"], internetFacing: false, owner: \"Endpoint\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Ivanti Endpoint Manager\", cpe: [\"ivanti:endpoint_manager\",\"landesk:management_suite\"], internetFacing: false, owner: \"Endpoint\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Fortinet FortiClient EMS\", cpe: [\"fortinet:forticlient_enterprise_management_server\",\"fortinet:forticlientems\"], internetFacing: false, owner: \"Endpoint\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Active Directory\", cpe: [\"microsoft:active_directory\",\"microsoft:windows_server\"], internetFacing: false, owner: \"IAM\", criticality: \"critical\", dataClassification: \"Restricted\" },\n  { product: \"CyberArk EPV\", cpe: [\"cyberark:privileged_access_security\",\"cyberark:enterprise_password_vault\"], internetFacing: false, owner: \"IAM\", criticality: \"critical\", dataClassification: \"Restricted\" },\n  { product: \"CyberArk Conjur\", cpe: [\"cyberark:conjur\"], internetFacing: false, owner: \"IAM\", criticality: \"critical\", dataClassification: \"Restricted\" },\n  { product: \"SailPoint IIQ\", cpe: [\"sailpoint:identityiq\"], internetFacing: false, owner: \"IAM\", criticality: \"critical\", dataClassification: \"Restricted\" },\n  { product: \"HashiCorp Vault\", cpe: [\"hashicorp:vault\"], internetFacing: false, owner: \"IAM\", criticality: \"critical\", dataClassification: \"Restricted\" },\n  { product: \"Ubuntu\", cpe: [\"canonical:ubuntu_linux\"], internetFacing: false, owner: \"SysOps\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Red Hat Ent. Linux\", cpe: [\"redhat:enterprise_linux\"], internetFacing: false, owner: \"SysOps\", criticality: \"critical\", dataClassification: \"Internal\" },\n  { product: \"SUSE Linux Ent.\", cpe: [\"suse:linux_enterprise_server\",\"suse:suse_linux_enterprise_server\"], internetFacing: false, owner: \"SysOps\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"CentOS\", cpe: [\"centos:centos\"], internetFacing: false, owner: \"SysOps\", criticality: \"medium\", dataClassification: \"Internal\" },\n  { product: \"Oracle Linux\", cpe: [\"oracle:linux\"], internetFacing: false, owner: \"SysOps\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Windows Server 2022\", cpe: [\"microsoft:windows_server_2022\"], internetFacing: false, owner: \"SysOps\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Windows Server 2019\", cpe: [\"microsoft:windows_server_2019\"], internetFacing: false, owner: \"SysOps\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Windows Server 2016\", cpe: [\"microsoft:windows_server_2016\"], internetFacing: false, owner: \"SysOps\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"VMware vSphere ESXi\", cpe: [\"vmware:esxi\",\"vmware:vsphere_esxi\"], internetFacing: false, owner: \"SysOps\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"VMware vCenter\", cpe: [\"vmware:vcenter_server\"], internetFacing: false, owner: \"SysOps\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Microsoft Hyper-V\", cpe: [\"microsoft:hyper-v\"], internetFacing: false, owner: \"SysOps\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"VMware Horizon\", cpe: [\"vmware:horizon\"], internetFacing: true, owner: \"SysOps\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"IBM z/OS\", cpe: [\"ibm:z\\/os\"], internetFacing: false, owner: \"CoreBank\", criticality: \"critical\", dataClassification: \"Restricted\" },\n  { product: \"IBM CICS\", cpe: [\"ibm:cics_transaction_server\"], internetFacing: false, owner: \"CoreBank\", criticality: \"critical\", dataClassification: \"Restricted\" },\n  { product: \"IBM i (AS/400)\", cpe: [\"ibm:i\",\"ibm:os\\/400\"], internetFacing: false, owner: \"CoreBank\", criticality: \"critical\", dataClassification: \"Restricted\" },\n  { product: \"Oracle Database\", cpe: [\"oracle:database_server\",\"oracle:database\"], internetFacing: false, owner: \"DBA\", criticality: \"critical\", dataClassification: \"Restricted\" },\n  { product: \"Oracle Exadata\", cpe: [\"oracle:exadata\",\"oracle:exadata_storage_server_software\"], internetFacing: false, owner: \"DBA\", criticality: \"critical\", dataClassification: \"Restricted\" },\n  { product: \"Microsoft SQL Server\", cpe: [\"microsoft:sql_server\"], internetFacing: false, owner: \"DBA\", criticality: \"critical\", dataClassification: \"Restricted\" },\n  { product: \"PostgreSQL\", cpe: [\"postgresql:postgresql\"], internetFacing: false, owner: \"DBA\", criticality: \"high\", dataClassification: \"Restricted\" },\n  { product: \"MongoDB\", cpe: [\"mongodb:mongodb\"], internetFacing: false, owner: \"DBA\", criticality: \"high\", dataClassification: \"Restricted\" },\n  { product: \"MySQL\", cpe: [\"oracle:mysql\",\"mysql:mysql\"], internetFacing: false, owner: \"DBA\", criticality: \"medium\", dataClassification: \"Confidential\" },\n  { product: \"MariaDB\", cpe: [\"mariadb:mariadb\"], internetFacing: false, owner: \"DBA\", criticality: \"medium\", dataClassification: \"Confidential\" },\n  { product: \"IBM Db2\", cpe: [\"ibm:db2\"], internetFacing: false, owner: \"DBA\", criticality: \"critical\", dataClassification: \"Restricted\" },\n  { product: \"Cassandra\", cpe: [\"apache:cassandra\"], internetFacing: false, owner: \"DBA\", criticality: \"high\", dataClassification: \"Restricted\" },\n  { product: \"Vertica\", cpe: [\"microfocus:vertica\",\"opentext:vertica\"], internetFacing: false, owner: \"DBA\", criticality: \"high\", dataClassification: \"Restricted\" },\n  { product: \"Redis\", cpe: [\"redis:redis\",\"redislabs:redis\"], internetFacing: false, owner: \"DBA\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"Memcached\", cpe: [\"memcached:memcached\"], internetFacing: false, owner: \"DBA\", criticality: \"medium\", dataClassification: \"Internal\" },\n  { product: \"Neo4j\", cpe: [\"neo4j:neo4j\"], internetFacing: false, owner: \"DBA\", criticality: \"medium\", dataClassification: \"Confidential\" },\n  { product: \"ClickHouse\", cpe: [\"clickhouse:clickhouse\"], internetFacing: false, owner: \"DBA\", criticality: \"medium\", dataClassification: \"Confidential\" },\n  { product: \"InfluxDB\", cpe: [\"influxdata:influxdb\"], internetFacing: false, owner: \"DBA\", criticality: \"medium\", dataClassification: \"Internal\" },\n  { product: \"Apache HTTP Server\", cpe: [\"apache:http_server\"], internetFacing: true, owner: \"Web\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Nginx\", cpe: [\"nginx:nginx\",\"f5:nginx\"], internetFacing: true, owner: \"Web\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Microsoft IIS\", cpe: [\"microsoft:internet_information_services\",\"microsoft:iis\"], internetFacing: true, owner: \"Web\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Apache Tomcat\", cpe: [\"apache:tomcat\"], internetFacing: false, owner: \"Web\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"IBM WebSphere\", cpe: [\"ibm:websphere_application_server\"], internetFacing: false, owner: \"Web\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Oracle WebLogic\", cpe: [\"oracle:weblogic_server\"], internetFacing: false, owner: \"Web\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Red Hat JBoss EAP\", cpe: [\"redhat:jboss_enterprise_application_platform\",\"redhat:wildfly\"], internetFacing: false, owner: \"Web\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"HAProxy\", cpe: [\"haproxy:haproxy\"], internetFacing: true, owner: \"Web\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Node.js\", cpe: [\"nodejs:node.js\",\"nodejs:nodejs\"], internetFacing: false, owner: \"Web\", criticality: \"medium\", dataClassification: \"Internal\" },\n  { product: \"Envoy Proxy\", cpe: [\"envoyproxy:envoy\"], internetFacing: false, owner: \"Web\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Noname Security\", cpe: [\"nonamesecurity:noname\",\"akamai:api_security\"], internetFacing: false, owner: \"AppSec\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Twistlock (Prisma)\", cpe: [\"paloaltonetworks:prisma_cloud\",\"twistlock:twistlock\"], internetFacing: false, owner: \"AppSec\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"Tenable Nessus\", cpe: [\"tenable:nessus\"], internetFacing: false, owner: \"AppSec\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"SonarQube\", cpe: [\"sonarsource:sonarqube\"], internetFacing: false, owner: \"AppSec\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"Docker\", cpe: [\"docker:docker\",\"mobyproject:moby\",\"linuxfoundation:containerd\"], internetFacing: false, owner: \"DevOps\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Kubernetes\", cpe: [\"kubernetes:kubernetes\"], internetFacing: false, owner: \"DevOps\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Red Hat OpenShift\", cpe: [\"redhat:openshift_container_platform\"], internetFacing: false, owner: \"DevOps\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Rancher\", cpe: [\"suse:rancher\",\"rancher:rancher\"], internetFacing: false, owner: \"DevOps\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Jenkins\", cpe: [\"jenkins:jenkins\"], internetFacing: false, owner: \"DevOps\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"GitLab\", cpe: [\"gitlab:gitlab\"], internetFacing: false, owner: \"DevOps\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Bitbucket\", cpe: [\"atlassian:bitbucket\"], internetFacing: false, owner: \"DevOps\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"GitHub Enterprise\", cpe: [\"github:enterprise_server\"], internetFacing: false, owner: \"DevOps\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Ansible Tower/AWX\", cpe: [\"redhat:ansible_tower\",\"redhat:ansible_automation_platform\",\"redhat:awx\"], internetFacing: false, owner: \"DevOps\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Chef\", cpe: [\"progress:chef\",\"chef:chef\"], internetFacing: false, owner: \"DevOps\", criticality: \"medium\", dataClassification: \"Internal\" },\n  { product: \"Puppet\", cpe: [\"puppet:puppet\",\"puppetlabs:puppet\"], internetFacing: false, owner: \"DevOps\", criticality: \"medium\", dataClassification: \"Internal\" },\n  { product: \"Nexus Repository\", cpe: [\"sonatype:nexus_repository_manager\",\"sonatype:nexus\"], internetFacing: false, owner: \"DevOps\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"ServiceNow\", cpe: [\"servicenow:servicenow\"], internetFacing: false, owner: \"ITSM\", criticality: \"critical\", dataClassification: \"Confidential\" },\n  { product: \"Dynatrace\", cpe: [\"dynatrace:dynatrace\"], internetFacing: false, owner: \"DevOps\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"Zabbix\", cpe: [\"zabbix:zabbix\"], internetFacing: false, owner: \"SysOps\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Grafana\", cpe: [\"grafana:grafana\"], internetFacing: false, owner: \"DevOps\", criticality: \"medium\", dataClassification: \"Internal\" },\n  { product: \"ManageEngine OpManager\", cpe: [\"zohocorp:manageengine_opmanager\",\"manageengine:opmanager\"], internetFacing: false, owner: \"Network\", criticality: \"medium\", dataClassification: \"Internal\" },\n  { product: \"SolarWinds\", cpe: [\"solarwinds:orion_platform\",\"solarwinds:network_performance_monitor\"], internetFacing: false, owner: \"Network\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"Microsoft SCOM\", cpe: [\"microsoft:system_center_operations_manager\"], internetFacing: false, owner: \"SysOps\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"UiPath\", cpe: [\"uipath:uipath\",\"uipath:orchestrator\"], internetFacing: false, owner: \"BizApps\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"Jira\", cpe: [\"atlassian:jira\",\"atlassian:jira_software\"], internetFacing: false, owner: \"DevOps\", criticality: \"high\", dataClassification: \"Internal\" },\n  { product: \"Avaya Aura\", cpe: [\"avaya:aura\"], internetFacing: false, owner: \"SysOps\", criticality: \"critical\", dataClassification: \"Internal\" },\n  { product: \"SharePoint\", cpe: [\"microsoft:sharepoint_server\",\"microsoft:sharepoint\"], internetFacing: false, owner: \"SysOps\", criticality: \"high\", dataClassification: \"Confidential\" },\n  { product: \"Confluence\", cpe: [\"atlassian:confluence\",\"atlassian:confluence_server\"], internetFacing: false, owner: \"SysOps\", criticality: \"medium\", dataClassification: \"Internal\" },\n  { product: \"Boldon James\", cpe: [\"fortra:boldon_james\",\"boldonjames:classifier\"], internetFacing: false, owner: \"SecOps\", criticality: \"medium\", dataClassification: \"Confidential\" }\n];\nreturn [{ json: { kind: 'inventory', count: INVENTORY.length, data: INVENTORY } }];"
      }
    },
    {
      "id": "vic-010",
      "name": "Report Settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1980,
        200
      ],
      "parameters": {
        "jsCode": "// ====== RAPOR AYARLARI (AC/KAPA) ======\n// Bu degerleri degistirerek rapor bolumlerini ac/kapat.\nconst SETTINGS = {\n  includeDetectionQueries: true,  // CVE basina SPL + Sigma sorgusu uret ve \"Tespit / Inceleme\" bolumunu goster\n  includeMitre: true              // CVE basina olasi MITRE ATT&CK teknigini goster\n};\nreturn [{ json: { kind: 'settings', data: SETTINGS } }];"
      }
    },
    {
      "id": "vic-011",
      "name": "Sticky - Settings",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1980,
        -40
      ],
      "parameters": {
        "content": "### ⚙️ Rapor Ayarları\n`Report Settings` düğümünü açıp aç/kapatın:\n• `includeDetectionQueries` → her CVE'ye SPL + Sigma sorgusu ve \"Tespit / İnceleme\" bölümü ekler.\n• `includeMitre` → olası MITRE ATT&CK tekniğini gösterir.\nKapalıyken bu bölümler rapora hiç eklenmez.",
        "width": 360,
        "height": 200,
        "color": 6
      }
    },
    {
      "id": "vic-012",
      "name": "Feed Registry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1980,
        700
      ],
      "parameters": {
        "jsCode": "// ====== DINAMIK FEED KAYDI ======\n// Yeni feed eklemek icin bu listeye satir eklemeniz yeterli — baska dugum degisikligi gerekmez.\n// kind === 'rss' olanlar otomatik cekilir. Diger kind'lar bilgi amacli durur:\n//   api      -> ozel dugumlerle islenir (NVD API, EPSS, OSV, GitHub, VulnCheck)\n//   json/csv -> KEV gibi ozel dugumlerle islenir\n//   git/html -> n8n icinde guvenilir islenemez (cvelistV5, Rapid7, Qualys)\nconst FEEDS = [\n  // --- exploit / PoC sinyali ---\n  { id: 'exploit-db', name: 'Exploit-DB', kind: 'rss', category: 'public-exploit', url: 'https://www.exploit-db.com/rss.xml', enabled: true },\n  { id: 'zdi-published-advisories', name: 'ZDI Published', kind: 'rss', category: 'zero-day-advisory', url: 'https://www.zerodayinitiative.com/rss/published/', enabled: true },\n  { id: 'zdi-upcoming-advisories', name: 'ZDI Upcoming', kind: 'rss', category: 'zero-day-advisory', url: 'https://www.zerodayinitiative.com/rss/upcoming/', enabled: true },\n  { id: 'packetstorm-exploits', name: 'Packet Storm Exploits', kind: 'rss', category: 'public-exploit', url: 'https://packetstormsecurity.com/files/tags/exploit/rss', enabled: true },\n\n  // --- vendor PSIRT ---\n  { id: 'microsoft-security-update-guide', name: 'Microsoft MSRC', kind: 'rss', category: 'vendor-advisory', url: 'https://api.msrc.microsoft.com/update-guide/rss', enabled: true },\n  { id: 'cisco-security-advisories', name: 'Cisco PSIRT', kind: 'rss', category: 'vendor-advisory', url: 'https://sec.cloudapps.cisco.com/security/center/psirtrss10/CiscoSecurityAdvisory.xml', enabled: true },\n  { id: 'fortinet-psirt-advisories', name: 'Fortinet PSIRT', kind: 'rss', category: 'vendor-advisory', url: 'https://filestore.fortinet.com/fortiguard/rss/ir.xml', enabled: true },\n  { id: 'paloalto-security-advisories', name: 'Palo Alto PSIRT', kind: 'rss', category: 'vendor-advisory', url: 'https://security.paloaltonetworks.com/rss.xml', enabled: true },\n  { id: 'oracle-security-alerts', name: 'Oracle CPU/Alerts', kind: 'rss', category: 'vendor-advisory', url: 'https://www.oracle.com/a/ocom/docs/corporate/rss-security-alerts.xml', enabled: true },\n  { id: 'adobe-security-bulletins', name: 'Adobe Bulletins', kind: 'rss', category: 'vendor-advisory', url: 'https://helpx.adobe.com/security/security-bulletin.xml', enabled: true },\n  { id: 'ubuntu-security-notices', name: 'Ubuntu USN', kind: 'rss', category: 'linux-security', url: 'https://ubuntu.com/security/notices/rss.xml', enabled: true },\n  { id: 'jenkins-security-advisories', name: 'Jenkins Advisories', kind: 'rss', category: 'devsecops-security', url: 'https://www.jenkins.io/security/advisories/rss.xml', enabled: true },\n\n  // --- scanner kapsami ---\n  { id: 'tenable-security-advisories', name: 'Tenable Advisories', kind: 'rss', category: 'scanner-intelligence', url: 'https://www.tenable.com/security/tns/rss.xml', enabled: true },\n  { id: 'tenable-newest-plugins', name: 'Tenable New Plugins', kind: 'rss', category: 'scanner-plugin', url: 'https://www.tenable.com/plugins/feeds?sort=newest', enabled: true },\n  { id: 'tenable-updated-plugins', name: 'Tenable Updated Plugins', kind: 'rss', category: 'scanner-plugin', url: 'https://www.tenable.com/plugins/feeds?sort=updated', enabled: true },\n\n  // --- ozel dugumlerle islenenler (bilgi amacli; rss olmadigi icin burada cekilmez) ---\n  { id: 'nvd-api-2', name: 'NVD CVE API 2.0', kind: 'api', category: 'cve-database', url: 'https://services.nvd.nist.gov/rest/json/cves/2.0', enabled: true },\n  { id: 'cisa-kev-catalog', name: 'CISA KEV Catalog', kind: 'json', category: 'known-exploited-vulnerability', url: 'https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json', enabled: true },\n  { id: 'first-epss-api', name: 'FIRST EPSS API', kind: 'api', category: 'exploit-prediction', url: 'https://api.first.org/data/v1/epss', enabled: true },\n  { id: 'osv-api', name: 'OSV.dev API', kind: 'api', category: 'package-security', url: 'https://api.osv.dev/v1/query', enabled: true },\n  { id: 'github-global-security-advisories-api', name: 'GitHub Advisories API', kind: 'api', category: 'package-security', url: 'https://api.github.com/advisories', enabled: true },\n  { id: 'vulncheck-exploit-intelligence', name: 'VulnCheck', kind: 'api', category: 'exploit-intelligence', url: 'https://api.vulncheck.com', enabled: false },\n  // --- n8n icinde islenemeyenler ---\n  { id: 'cve-org-cvelist-v5', name: 'CVE.org cvelistV5 (git)', kind: 'git', category: 'cve-database', url: 'https://github.com/CVEProject/cvelistV5', enabled: false },\n  { id: 'rapid7-vulnerability-database', name: 'Rapid7 DB (html)', kind: 'html', category: 'scanner-intelligence', url: 'https://www.rapid7.com/db/', enabled: false },\n  { id: 'qualys-security-alerts', name: 'Qualys Alerts (html)', kind: 'html', category: 'scanner-intelligence', url: 'https://www.qualys.com/research/security-alerts', enabled: false }\n];\nreturn FEEDS.filter(f => f.enabled && f.kind === 'rss').map(f => ({ json: f }));"
      }
    },
    {
      "id": "vic-013",
      "name": "Select Exploit Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        460
      ],
      "parameters": {
        "jsCode": "// Kategoriye gore feed sec\nconst CATS = [\"public-exploit\",\"zero-day-advisory\"];\nconst out = $input.all().filter(i => CATS.includes(i.json.category));\nif (!out.length) out.push({ json: { url: 'about:blank', category: CATS[0], name: 'placeholder' } });\nreturn out;"
      }
    },
    {
      "id": "vic-014",
      "name": "RSS Reader - Exploit",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -1540,
        460
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "vic-015",
      "name": "Build Exploit Signal Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1180,
        460
      ],
      "parameters": {
        "jsCode": "// 6) Exploit-DB + ZDI + PacketStorm -> PoC/exploit sinyal haritasi\nconst CVE_REGEX = /CVE-\\d{4}-\\d{4,7}/gi;\nconst map = {};\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  const txt = [j.title, j.contentSnippet, j.content, j.summary].filter(Boolean).join(' ');\n  let src = 'exploit-feed';\n  try { src = new URL(j.link).hostname.replace(/^www\\./, ''); } catch (e) {}\n  for (const c of new Set((txt.match(CVE_REGEX) || []).map(x => x.toUpperCase()))) {\n    (map[c] = map[c] || []).push({\n      source: src,\n      title: (j.title || '').slice(0, 150),\n      link: j.link || '',\n      date: j.isoDate || j.pubDate || ''\n    });\n  }\n}\nreturn [{ json: { kind: 'exploit', count: Object.keys(map).length, data: map } }];"
      }
    },
    {
      "id": "vic-016",
      "name": "Select Vendor Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        700
      ],
      "parameters": {
        "jsCode": "// Kategoriye gore feed sec\nconst CATS = [\"vendor-advisory\",\"linux-security\",\"devsecops-security\"];\nconst out = $input.all().filter(i => CATS.includes(i.json.category));\nif (!out.length) out.push({ json: { url: 'about:blank', category: CATS[0], name: 'placeholder' } });\nreturn out;"
      }
    },
    {
      "id": "vic-017",
      "name": "RSS Reader - Vendor",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -1540,
        700
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "vic-018",
      "name": "Build Vendor Signal Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1180,
        700
      ],
      "parameters": {
        "jsCode": "// 8) Vendor PSIRT feed'leri -> patch/advisory sinyal haritasi\nconst CVE_REGEX = /CVE-\\d{4}-\\d{4,7}/gi;\nconst map = {};\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  const txt = [j.title, j.contentSnippet, j.content, j.summary].filter(Boolean).join(' ');\n  let vendor = 'vendor';\n  try { vendor = new URL(j.link).hostname.replace(/^www\\./, ''); } catch (e) {}\n  for (const c of new Set((txt.match(CVE_REGEX) || []).map(x => x.toUpperCase()))) {\n    (map[c] = map[c] || []).push({\n      vendor,\n      title: (j.title || '').slice(0, 150),\n      link: j.link || '',\n      date: j.isoDate || j.pubDate || ''\n    });\n  }\n}\nreturn [{ json: { kind: 'vendor', count: Object.keys(map).length, data: map } }];"
      }
    },
    {
      "id": "vic-019",
      "name": "Select Scanner Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        940
      ],
      "parameters": {
        "jsCode": "// Kategoriye gore feed sec\nconst CATS = [\"scanner-intelligence\",\"scanner-plugin\"];\nconst out = $input.all().filter(i => CATS.includes(i.json.category));\nif (!out.length) out.push({ json: { url: 'about:blank', category: CATS[0], name: 'placeholder' } });\nreturn out;"
      }
    },
    {
      "id": "vic-020",
      "name": "RSS Reader - Scanner",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -1540,
        940
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "vic-021",
      "name": "Build Scanner Signal Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1180,
        940
      ],
      "parameters": {
        "jsCode": "// 9) Tenable advisory + plugin feed'leri -> scanner kapsam haritasi\n// (Rapid7/Qualys HTML sayfalari guvenilir parse edilemedigi icin kapsam disi — sticky nota bakin)\nconst CVE_REGEX = /CVE-\\d{4}-\\d{4,7}/gi;\nconst map = {};\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  const txt = [j.title, j.contentSnippet, j.content, j.summary].filter(Boolean).join(' ');\n  for (const c of new Set((txt.match(CVE_REGEX) || []).map(x => x.toUpperCase()))) {\n    (map[c] = map[c] || []).push({\n      source: 'tenable',\n      title: (j.title || '').slice(0, 150),\n      link: j.link || ''\n    });\n  }\n}\nreturn [{ json: { kind: 'scanner', count: Object.keys(map).length, data: map } }];"
      }
    },
    {
      "id": "vic-022",
      "name": "Merge All Signals",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -920,
        700
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 6
      }
    },
    {
      "id": "vic-023",
      "name": "Correlate + Stack Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        700
      ],
      "parameters": {
        "jsCode": "// Eslestirme artik 'Inventory Registry' dugumundeki envanterden gelir — burada config YOK.\nconst MAX_RECORDS = 200; // downstream zenginlestirme icin ust sinir\n\n// Tum sinyal dallarini topla (Merge'den kind etiketiyle gelir)\nconst branches = {};\nfor (const it of $input.all()) branches[it.json.kind] = it.json.data || {};\nconst nvd = branches.nvd || {}, kev = branches.kev || {}, expl = branches.exploit || {},\n      vend = branches.vendor || {}, scan = branches.scanner || {};\nconst inventory = Array.isArray(branches.inventory) ? branches.inventory : [];\n\n// CVE evreni: NVD penceresi + exploit-sinyalli CVE'ler\nconst ids = new Set(Object.keys(nvd));\nfor (const c of Object.keys(expl)) ids.add(c);\n\nconst records = [];\nfor (const id of ids) {\n  const n = nvd[id] || { cveId: id, cvssScore: null, cvssSeverity: null, cvssVector: null,\n                         description: '', products: [], published: null, lastModified: null };\n  const explHits = expl[id] || [], vendHits = vend[id] || [], scanHits = scan[id] || [];\n\n  // ---- envanter eslestirme: YALNIZCA NVD CPE vendor:product kaniti ----\n  const cvePairs = new Set((n.cpePairs || []).map(x => ('' + x).toLowerCase()));\n  const matchedInventory = [];\n  if (cvePairs.size) {\n    for (const asset of inventory) {\n      const assetCpes = (asset.cpe || []).map(x => ('' + x).toLowerCase());\n      const hit = assetCpes.filter(cp => cvePairs.has(cp));\n      if (hit.length) {\n        matchedInventory.push({\n          product: asset.product,\n          owner: asset.owner || null,\n          criticality: asset.criticality || null,\n          dataClassification: asset.dataClassification || null,\n          internetFacing: !!asset.internetFacing,\n          matchedCpe: hit\n        });\n      }\n    }\n  }\n  // CPE yoksa eslestirme YAPILMAZ (kanit yok -> halusinasyon yok)\n\n  records.push({\n    ...n,\n    kev: kev[id] || null,\n    knownExploited: !!kev[id],\n    publicExploit: explHits.length > 0,\n    exploitSignals: explHits.slice(0, 5),\n    vendorPatch: vendHits.length > 0,\n    vendorSignals: vendHits.slice(0, 5),\n    scannerPlugin: scanHits.length > 0,\n    scannerSignals: scanHits.slice(0, 3),\n    matchedInventory,\n    stackHits: matchedInventory.map(m => m.product),\n    stackMatch: matchedInventory.length > 0,\n    internetFacing: matchedInventory.some(m => m.internetFacing)\n  });\n}\n\n// Ilginc olanlar: envanter eslesmesi VEYA KEV VEYA exploit sinyali VEYA CVSS>=9\nlet interesting = records.filter(r =>\n  r.stackMatch || r.knownExploited || r.publicExploit || (r.cvssScore ?? 0) >= 9\n);\ninteresting.sort((a, b) =>\n  (b.stackMatch - a.stackMatch) || (b.knownExploited - a.knownExploited) ||\n  (b.publicExploit - a.publicExploit) || ((b.cvssScore ?? 0) - (a.cvssScore ?? 0))\n);\ninteresting = interesting.slice(0, MAX_RECORDS);\n\nconst stats = {\n  nvdCves: Object.keys(nvd).length,\n  kevTotal: Object.keys(kev).length,\n  exploitSignaledCves: Object.keys(expl).length,\n  vendorSignaledCves: Object.keys(vend).length,\n  scannerSignaledCves: Object.keys(scan).length,\n  inventoryAssets: inventory.length,\n  candidateRecords: interesting.length,\n  stackMatched: interesting.filter(r => r.stackMatch).length,\n  runAt: new Date().toISOString()\n};\n\nreturn [{ json: { stats, records: interesting } }];"
      }
    },
    {
      "id": "vic-024",
      "name": "Prepare EPSS Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        700
      ],
      "parameters": {
        "jsCode": "// 4) EPSS API icin CVE listesini 50'lik gruplara bol\nconst records = $input.first().json.records || [];\nconst ids = records.map(r => r.cveId);\nif (!ids.length) return [{ json: { cveBatch: null, _empty: true } }];\nconst batches = [];\nfor (let i = 0; i < ids.length; i += 50) batches.push(ids.slice(i, i + 50).join(','));\nreturn batches.map(b => ({ json: { cveBatch: b } }));"
      }
    },
    {
      "id": "vic-025",
      "name": "EPSS Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        700
      ],
      "parameters": {
        "url": "=https://api.first.org/data/v1/epss?cve={{ $json.cveBatch }}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "vic-026",
      "name": "Merge EPSS Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        700
      ],
      "parameters": {
        "jsCode": "// EPSS yanitlarini topla ve kayitlara isle\nconst epssMap = {};\nfor (const item of $input.all()) {\n  for (const row of (item.json.data || [])) {\n    epssMap[(row.cve || '').toUpperCase()] = {\n      epss: parseFloat(row.epss),\n      percentile: parseFloat(row.percentile)\n    };\n  }\n}\nconst payload = $('Correlate + Stack Filter').first().json;\nfor (const r of payload.records) {\n  const e = epssMap[r.cveId];\n  r.epss = e ? e.epss : null;\n  r.epssPercentile = e ? e.percentile : null;\n}\npayload.stats.epssScored = Object.keys(epssMap).length;\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "vic-027",
      "name": "Prepare OSS Lookups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        700
      ],
      "parameters": {
        "jsCode": "// 5+7) GitHub/OSV/VulnCheck per-CVE zenginlestirme — sadece en kritik adaylar\nconst MAX_OSS_LOOKUPS = 15; // GitHub anonim limiti 60/saat; 6h cadence ile guvenli\nconst records = $('Merge EPSS Scores').first().json.records || [];\nconst candidates = records\n  .filter(r => r.stackMatch || r.knownExploited || (r.epss ?? 0) >= 0.5)\n  .slice(0, MAX_OSS_LOOKUPS);\nif (!candidates.length) return [{ json: { cveId: null, _noCves: true } }];\nreturn candidates.map(r => ({ json: { cveId: r.cveId } }));"
      }
    },
    {
      "id": "vic-028",
      "name": "Loop OSS Enrichment",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        280,
        700
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "vic-029",
      "name": "OSV Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        940
      ],
      "parameters": {
        "url": "=https://api.osv.dev/v1/vulns/{{ $json.cveId }}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "id": "vic-030",
      "name": "GitHub Advisories Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        940
      ],
      "parameters": {
        "url": "=https://api.github.com/advisories?cve_id={{ $('Loop OSS Enrichment').first().json.cveId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-vuln-intel"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "id": "vic-031",
      "name": "GitHub PoC Repo Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        1060
      ],
      "parameters": {
        "url": "https://api.github.com/search/repositories",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Loop OSS Enrichment').first().json.cveId }}"
            },
            {
              "name": "sort",
              "value": "stars"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-vuln-intel"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "id": "vic-032",
      "name": "Collect OSS Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        940
      ],
      "parameters": {
        "jsCode": "// GitHub Advisory + OSV + GitHub PoC repo aramasini tek kayda indir\nconst cveId = $('Loop OSS Enrichment').first().json.cveId;\nconst out = { cveId, ghAdvisories: 0, ghEcosystems: [], ghSeverity: null,\n              osvFound: false, osvAffected: [], pocCount: 0, pocRepos: [], pocTopStars: 0 };\n\n// GitHub Advisory (dizi yaniti item'lara bolunur -> dugum referansiyla oku)\nconst eco = new Set();\ntry {\n  for (const item of $('GitHub Advisories Lookup').all()) {\n    const a = item.json || {};\n    if (!a.ghsa_id && !a.cve_id) continue;\n    out.ghAdvisories++;\n    if (a.severity && !out.ghSeverity) out.ghSeverity = a.severity;\n    for (const v of (a.vulnerabilities || [])) {\n      const e = v.package && v.package.ecosystem;\n      if (e) eco.add(e);\n    }\n  }\n} catch (e) {}\nout.ghEcosystems = [...eco];\n\n// OSV\ntry {\n  const osv = $('OSV Lookup').first().json;\n  if (osv && osv.id) {\n    out.osvFound = true;\n    const aff = new Set();\n    for (const a of (osv.affected || [])) {\n      const p = a.package || {};\n      if (p.name) aff.add((p.ecosystem ? p.ecosystem + '/' : '') + p.name);\n    }\n    out.osvAffected = [...aff].slice(0, 10);\n  }\n} catch (e) {}\n\n// GitHub PoC repo aramasi ($input = search/repositories yaniti)\ntry {\n  const gh = $input.first().json || {};\n  const items = gh.items || [];\n  out.pocCount = gh.total_count ?? items.length;\n  out.pocRepos = items.slice(0, 3).map(r => ({ name: r.full_name, url: r.html_url, stars: r.stargazers_count }));\n  out.pocTopStars = items.length ? Math.max(...items.map(r => r.stargazers_count || 0)) : 0;\n} catch (e) {}\n\nreturn [{ json: out }];"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "vic-033",
      "name": "VulnCheck Enrichment (Deactivated)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        940
      ],
      "disabled": true,
      "parameters": {
        "url": "=https://api.vulncheck.com/v3/index/vulncheck-kev?cve={{ $('Loop OSS Enrichment').item.json.cveId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_VULNCHECK_TOKEN"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "vic-034",
      "name": "Wait 7s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1160,
        940
      ],
      "parameters": {
        "amount": 7,
        "unit": "seconds"
      },
      "webhookId": "vic-wait"
    },
    {
      "id": "vic-035",
      "name": "Aggregate OSS Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        520,
        700
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "ossResults",
        "options": {}
      }
    },
    {
      "id": "vic-036",
      "name": "Priority Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        700
      ],
      "parameters": {
        "jsCode": "// 10) Onceliklendirme matrisi — Critical/High/Medium/Low\nconst payload = $('Merge EPSS Scores').first().json;\nconst records = payload.records || [];\n\n// OSS sonuclarini isle\nconst ossMap = {};\nfor (const o of ($input.first().json.ossResults || [])) {\n  if (o && o.cveId) ossMap[o.cveId] = o;\n}\nfor (const r of records) {\n  const o = ossMap[r.cveId];\n  r.packageImpact = o ? { ghAdvisories: o.ghAdvisories, ecosystems: o.ghEcosystems, osvAffected: o.osvAffected } : null;\n  if (o) {\n    r.pocRepos = o.pocRepos || [];\n    r.pocCount = o.pocCount || 0;\n    r.pocTopStars = o.pocTopStars || 0;\n    if (r.pocCount > 0) r.publicExploit = true; // GitHub'da PoC repo varligi da exploit sinyalidir\n  }\n}\n\nfunction score(r) {\n  const reasons = [];\n  const epss = r.epss ?? 0, cvss = r.cvssScore ?? 0;\n\n  // ---- CRITICAL: stack eslesmesi + agir istismar sinyali ----\n  if (r.stackMatch) {\n    if (r.knownExploited) reasons.push('CISA KEV (aktif istismar)');\n    if (r.publicExploit && epss >= 0.70) reasons.push('Public exploit + EPSS>=0.70');\n    if (cvss >= 9.0 && r.internetFacing) reasons.push('CVSS>=9.0 + internet-facing urun');\n    if (reasons.length) return ['CRITICAL', reasons];\n\n    // ---- HIGH ----\n    if (epss >= 0.50) reasons.push('EPSS>=0.50');\n    if (r.publicExploit && !r.knownExploited) reasons.push('PoC var, aktif istismar dogrulanmadi');\n    if (r.vendorPatch) reasons.push('Vendor patch/advisory yayinlandi');\n    if (r.scannerPlugin) reasons.push('Scanner plugin mevcut');\n    if (reasons.length) return ['HIGH', reasons];\n\n    // ---- MEDIUM: kurumda var ama sinyal zayif ----\n    return ['MEDIUM', [r.internetFacing ? 'Stack eslesmesi, dusuk istismar sinyali' : 'Stack eslesmesi var, internet-facing degil']];\n  }\n\n  // Stack eslesmesi yok:\n  if (cvss >= 7.0 && !r.publicExploit && !r.knownExploited) return ['MEDIUM', ['CVSS yuksek, exploit/KEV yok']];\n  if (r.knownExploited || r.publicExploit) return ['MEDIUM', ['Istismar sinyali var, stack eslesmesi yok']];\n  if (r.vendorPatch || r.scannerPlugin) return ['LOW', ['Yalnizca advisory/plugin sinyali']];\n  return ['LOW', ['Dusuk sinyal']];\n}\n\nconst buckets = { CRITICAL: [], HIGH: [], MEDIUM: [], LOW: [] };\nfor (const r of records) {\n  const [p, reasons] = score(r);\n  r.priority = p; r.priorityReasons = reasons;\n  buckets[p].push(r);\n}\nconst slim = r => ({\n  cveId: r.cveId, cvssScore: r.cvssScore, cvssSeverity: r.cvssSeverity, cvssVector: r.cvssVector, cvssVersion: r.cvssVersion || null, cwe: r.cwe || [], published: r.published, lastModified: r.lastModified,\n  vendorRefs: r.vendorRefs || [],\n  previouslyNotified: r.previouslyNotified || false,\n  firstNotifiedAt: r.firstNotifiedAt || null,\n  epss: r.epss, knownExploited: r.knownExploited, ransomware: r.kev ? r.kev.ransomware : false,\n  publicExploit: r.publicExploit, vendorPatch: r.vendorPatch, scannerPlugin: r.scannerPlugin,\n  stackHits: r.stackHits, internetFacing: r.internetFacing, priority: r.priority,\n  matchedInventory: r.matchedInventory || [],\n  businessCriticality: (r.matchedInventory || []).reduce((acc, m) => {\n    const rank = { critical: 4, high: 3, medium: 2, low: 1 };\n    return (rank[(m.criticality||'').toLowerCase()] || 0) > (rank[(acc||'').toLowerCase()] || 0) ? m.criticality : acc;\n  }, null),\n  dataClassifications: [...new Set((r.matchedInventory || []).map(m => m.dataClassification).filter(Boolean))],\n  cpeProducts: (r.products || []).slice(0, 8),\n  pocCount: r.pocCount || 0, pocTopStars: r.pocTopStars || 0, pocRepos: (r.pocRepos || []).slice(0, 2),\n  priorityReasons: r.priorityReasons,\n  packageImpact: r.packageImpact,\n  description: (r.description || '').slice(0, 200),\n  refs: [...(r.exploitSignals || []), ...(r.vendorSignals || [])].slice(0, 3).map(s => s.link)\n});\n\nconst stats = {\n  ...payload.stats,\n  criticalCount: buckets.CRITICAL.length,\n  highCount: buckets.HIGH.length,\n  mediumCount: buckets.MEDIUM.length,\n  lowCount: buckets.LOW.length\n};\n\nreturn [{ json: {\n  stats,\n  critical: buckets.CRITICAL.slice(0, 15).map(slim),\n  high: buckets.HIGH.slice(0, 20).map(slim),\n  mediumSample: buckets.MEDIUM.slice(0, 10).map(slim),\n  inventoryMatched: records.filter(r => r.stackMatch).slice(0, 25).map(slim)\n}}];"
      }
    },
    {
      "id": "vic-037",
      "name": "Prepare Analysis Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        700
      ],
      "parameters": {
        "jsCode": "// Mod tespiti + moda gore filtreleme + 4 saatlik pencere (yalniz saatlik)\nconst payload = $('Priority Scoring').first().json;\nlet matched = payload.inventoryMatched || [];\nconst order = { CRITICAL: 0, HIGH: 1, MEDIUM: 2, LOW: 3 };\n\nlet settings = { includeDetectionQueries: true, includeMitre: true };\ntry { settings = { ...settings, ...($('Report Settings').first().json.data || {}) }; } catch (e) {}\n\n// Mod: hourly | daily | api | manual (her execution'da yalniz biri tetiklenir)\nlet mode = 'manual';\ntry { if ($('Schedule Trigger (Every 6h)').isExecuted) mode = 'hourly'; } catch (e) {}\ntry { if ($('Schedule Daily (24h)').isExecuted) mode = 'daily'; } catch (e) {}\ntry { if ($('Report API Trigger').isExecuted) mode = 'api'; } catch (e) {}\n\nconst WINDOW_MS = 4 * 60 * 60 * 1000;\nconst now = Date.now();\nconst sd = $getWorkflowStaticData('global');\nsd.notifyLog = sd.notifyLog || {};\n\nif (mode === 'hourly') {\n  // Saatlik: SADECE internet-facing eslesmeler\n  matched = matched.filter(r => (r.matchedInventory || []).some(m => m.internetFacing));\n  // 4 saatlik pencere + 'daha once bildirildi' etiketi (purge 24s)\n  const PURGE_MS = 24 * 60 * 60 * 1000;\n  for (const k of Object.keys(sd.notifyLog)) { if (now - sd.notifyLog[k] > PURGE_MS) delete sd.notifyLog[k]; }\n  const kept = [];\n  for (const r of matched) {\n    const first = sd.notifyLog[r.cveId];\n    if (first == null) { sd.notifyLog[r.cveId] = now; kept.push({ ...r, previouslyNotified: false }); }\n    else if (now - first <= WINDOW_MS) { kept.push({ ...r, previouslyNotified: true, firstNotifiedAt: new Date(first).toISOString() }); }\n  }\n  matched = kept;\n} else {\n  // daily / api / manual: TUM eslesmeler, pencere yok, etiket yok\n  matched = matched.map(r => ({ ...r, previouslyNotified: false }));\n}\n\nmatched.sort((a, b) => (order[a.priority] ?? 9) - (order[b.priority] ?? 9) || (b.cvssScore ?? 0) - (a.cvssScore ?? 0));\nconst capped = matched.slice(0, 50);\nif (!capped.length) return [{ json: { _empty: true, _settings: settings, _mode: mode } }];\nreturn capped.map(r => ({ json: { ...r, _settings: settings, _mode: mode } }));"
      }
    },
    {
      "id": "vic-038",
      "name": "Loop Analysis",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        700
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "vic-039",
      "name": "Analysis LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1200,
        920
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Sen kidemli bir zafiyet analisti, sizma testi uzmani ve detection engineer'sin. Sana TEK bir CVE'nin zenginlestirilmis verisi veriliyor. Gorevin SADECE asagidaki semaya birebir uyan gecerli bir JSON dondurmek. JSON disinda HICBIR metin, aciklama, markdown veya kod citi yazma.\n\nCVE verisi:\n- ID: {{ $json.cveId }}\n- CVSS: {{ $json.cvssScore }} ({{ $json.cvssSeverity }}) | vektor: {{ $json.cvssVector }}\n- CWE: {{ ($json.cwe || []).join(', ') }}\n- EPSS: {{ $json.epss }}\n- CISA KEV: {{ $json.knownExploited }} (ransomware: {{ $json.ransomware }})\n- Public PoC: {{ $json.publicExploit }} | GitHub repo: {{ $json.pocCount }}\n- Etkilenen envanter: {{ ($json.matchedInventory || []).map(m => m.product + (m.internetFacing ? ' [internet-facing]' : '')).join('; ') }}\n- Aciklama: {{ $json.description }}\n\nIstenen JSON (anahtarlar birebir, hepsi Turkce):\n{\"ozet\": \"1-2 cumle: zafiyet nedir ve neden onemli\", \"saldiriVektoru\": \"Saldirinin nasil gerceklestigi: erisim yolu (ag/yerel), kimlik dogrulama gereksinimi, kullanici etkilesimi; CVSS vektorunu sade dille acikla.\", \"somuru\": \"Sizma testi bakisiyla pratik somuru: on kosullar, adimlar, olasi etki. Veri sinirliysa belirt, uydurma.\", \"iocTespit\": \"Detection engineering: hangi log kaynagi (or. Apache/Nginx access log, Sysmon, Zeek, WAF), aranacak IOC/gosterge/pattern.\", \"mitigasyon\": \"Patch + gecici workaround + telafi edici kontrol (compensating control). Spesifik ol, surum numarasi uydurma.\", \"mitre\": \"Olasi MITRE ATT&CK teknigi: Teknik adi ve ID (or. 'Exploit Public-Facing Application T1190'). Birden fazla olabilir. Emin degilsen en olasi olani ver ve 'olasi' de.\", \"splAciklama\": \"1-2 cumle: SPL sorgusu neyi tespit ediyor, hangi log kaynagini/alanlari kullaniyor ve mantigi nedir.\", \"spl\": \"Kapsamli, calistirilabilir bir Splunk SPL sorgusu. Gercekci index/sourcetype/alan adlari, zaman penceresi, gerektiginde stats/eval/where ile esik veya korelasyon iceren cok satirli bir sorgu yaz. SOC ortamina gore uyarlanmasi gerektigini varsay.\", \"sigmaAciklama\": \"1-2 cumle: Sigma kuralinin amaci, hedef log kaynagi ve tespit mantigi.\", \"sigma\": \"Tam ve gecerli bir Sigma kurali (YAML): title, status, description, logsource (category/product/service), detection (selection ve gerekirse filter/condition), falsepositives, level alanlarini icersin. Genis kapsamli yaz.\"}\n\nNOT: mitre, spl ve sigma alanlari yalnizca ilgili ayar acikken kullanilir; her durumda uretmen sorun degil.\n\nKurallar: Yalnizca verilen veriyi kullan. Surum/patch numarasi uydurma. Cikti SADECE JSON olsun.\nZORUNLU ALAN AYRIMI: \"ozet\", \"saldiriVektoru\", \"somuru\", \"iocTespit\", \"mitigasyon\" alanlari DUZ TURKCE CUMLE olmali; bunlarin icine ASLA SPL/Splunk sorgusu, Sigma/YAML kurali veya kod yazma. SPL yalnizca \"spl\" alaninda, Sigma yalnizca \"sigma\" alaninda yer alir. \"ozet\" 1-2 cumlelik insan diliyle aciklamadir; \"index=\", \"sourcetype=\", \"| stats\", \"title:\", \"logsource:\" gibi ifadeler ozet/somuru/iocTespit icinde KESINLIKLE bulunmamalidir."
      }
    },
    {
      "id": "vic-040",
      "name": "Ollama Analysis Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1240,
        1120
      ],
      "parameters": {
        "model": "gemma3:27b",
        "options": {
          "temperature": 0.2
        }
      },
      "credentials": {
        "ollamaApi": {
          "id": "REPLACE_WITH_OLLAMA_CREDENTIAL_ID",
          "name": "Ollama account"
        }
      }
    },
    {
      "id": "vic-041",
      "name": "Collect Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        920
      ],
      "parameters": {
        "jsCode": "// LLM JSON ciktisini ayristir, kayda ekle, donguye geri besle\nconst rec = $('Loop Analysis').first().json;\nif (rec._empty) return [{ json: { _empty: true } }];\n\nlet raw = ($json.text || $json.output || '').toString().trim();\nraw = raw.replace(/^[\\s\\S]*?\\u0060\\u0060\\u0060(?:json)?/i, '').replace(/\\u0060\\u0060\\u0060[\\s\\S]*$/i, '').trim();\n\nlet a = {};\ntry { a = JSON.parse(raw); }\ncatch (e) {\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  try { a = m ? JSON.parse(m[0]) : {}; } catch (_) { a = {}; }\n}\n\n// Sorgu/kural sozdizimi tespiti: bir alan SPL/Sigma/kod icerigine mi kaymis?\nconst looksLikeQuery = (s) => {\n  if (!s) return false;\n  s = ('' + s).trim();\n  return /^(spl|sigma|yaml|json)\\b/i.test(s) ||                       // 'splunk index=...', 'yaml title:...'\n    /\\bindex\\s*=|\\bsourcetype\\s*=|EventCode\\s*=|\\|\\s*stats\\b|\\|\\s*where\\b|\\|\\s*search\\b/i.test(s) || // SPL\n    /^\\s*title:\\s|logsource:|detection:\\s|condition:\\s/im.test(s);    // Sigma/YAML\n};\nlet spl = a.spl || a.splunk || '';\nlet sigma = a.sigma || '';\n\n// ozet hesapla; sorgu icerigi sizmissa temizle ve mumkunse dogru alana tasi\nlet ozet = a.ozet || a.summary || '';\nif (looksLikeQuery(ozet)) {\n  const t = ('' + ozet).trim();\n  if (/^\\s*title:|logsource:|detection:/im.test(t) || /^(yaml|sigma)\\b/i.test(t)) { if (!sigma) sigma = t.replace(/^(yaml|sigma)\\s*/i, ''); }\n  else { if (!spl) spl = t.replace(/^splunk\\s*/i, ''); }\n  ozet = '';  // bozuk ozeti dusur\n}\nif (!ozet) {\n  // guvenli yedek: aciklamadan tek cumle (sorgu degilse), yoksa CVE kimligi\n  const descSentence = ('' + (rec.description || '')).split(/(?<=[.!?])\\s/)[0];\n  ozet = (descSentence && !looksLikeQuery(descSentence)) ? descSentence.slice(0, 200) : (rec.cveId + ' zafiyeti icin ozet uretilemedi.');\n}\n\n// diger prose alanlarda da sorgu sizmasini temizle\nconst clean = (v, fb) => (v && !looksLikeQuery(v)) ? v : fb;\n\nconst analysis = {\n  ozet: ozet,\n  saldiriVektoru: clean(a.saldiriVektoru || a.attackVector, '-'),\n  somuru: clean(a.somuru || a.exploit || a.exploitScenario, 'Teknik somuru verisi sinirli.'),\n  iocTespit: clean(a.iocTespit || a.tespit || a.detection, 'Tespit onerisi uretilemedi.'),\n  mitigasyon: clean(a.mitigasyon || a.mitigation, '-'),\n  mitre: a.mitre || a.mitreAttack || '-',\n  spl: spl,\n  splAciklama: clean(a.splAciklama || a.splExplanation, ''),\n  sigma: sigma,\n  sigmaAciklama: clean(a.sigmaAciklama || a.sigmaExplanation, '')\n};\nreturn [{ json: { ...rec, analysis, previouslyNotified: rec.previouslyNotified || false, firstNotifiedAt: rec.firstNotifiedAt || null } }];"
      }
    },
    {
      "id": "vic-042",
      "name": "Aggregate Analyses",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1340,
        560
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "reports",
        "options": {}
      }
    },
    {
      "id": "vic-043",
      "name": "Prepare Exec Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        380
      ],
      "parameters": {
        "jsCode": "// Yonetici ozeti LLM'i icin kompakt girdi hazirla\nconst reports = ($('Aggregate Analyses').first().json.reports || []).filter(r => r && !r._empty && r.cveId);\nconst ps = $('Priority Scoring').first().json;\nconst stats = ps.stats || {};\nconst matchedN = (ps.inventoryMatched || []).length;\nconst M = reports.length;\nconst ifc = reports.filter(r => (r.matchedInventory || []).some(m => m.internetFacing)).length;\nconst kevc = reports.filter(r => r.knownExploited).length;\nconst order = { CRITICAL: 0, HIGH: 1, MEDIUM: 2, LOW: 3 };\n// Oncelik dagilimi: RAPORLANAN (eslesen) CVE'ler uzerinden say — global tarama degil\nconst crit = reports.filter(r => r.priority === 'CRITICAL').length;\nconst high = reports.filter(r => r.priority === 'HIGH').length;\nconst med  = reports.filter(r => r.priority === 'MEDIUM').length;\nconst low  = reports.filter(r => r.priority === 'LOW').length;\nconst top = reports.slice().sort((a, b) => (order[a.priority] ?? 9) - (order[b.priority] ?? 9) || (b.cvssScore ?? 0) - (a.cvssScore ?? 0))\n  .slice(0, 5)\n  .map(r => r.cveId + ' (CVSS ' + (r.cvssScore ?? '?') + ', ' + (r.matchedInventory || []).map(m => m.product).join('/') + (r.knownExploited ? ', KEV' : '') + ')')\n  .join('; ');\nreturn [{ json: { summary: {\n  nvdCves: stats.nvdCves ?? '?', matchedN, M,\n  criticalCount: crit, highCount: high, mediumCount: med, lowCount: low,\n  internetFacingCount: ifc, kevCount: kevc, topList: top || '(yok)'\n}}}];"
      }
    },
    {
      "id": "vic-044",
      "name": "Exec Summary LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1540,
        280
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Sen kidemli bir zafiyet istihbarat yoneticisisin (CISO ofisi). Asagidaki ozet veriden 5-6 cumlelik bir YONETICI OZETI yaz. Teknik jargon minimum; is etkisi, maruziyet (internet-facing), aktif istismar/KEV ve onceliklendirme vurgulansin. Somut sayilar kullan. SADECE ozet metni dondur; baslik, madde, markdown veya talimat tekrari YOK.\n\nVeri (TUM sayilar envanterle eslesen/raporlanan kume icindir, genel tarama degil):\n- Genel tarama: {{ $json.summary.nvdCves }} CVE tarandi (baglam icin; bunlarin yalnizca eslesenleri raporlanir)\n- Envanterle eslesen ve raporlanan: {{ $json.summary.M }} CVE\n- Raporlanan {{ $json.summary.M }} CVE'nin oncelik dagilimi: {{ $json.summary.criticalCount }} kritik / {{ $json.summary.highCount }} yuksek / {{ $json.summary.mediumCount }} orta / {{ $json.summary.lowCount }} dusuk\n- Bunlardan internet-facing olan: {{ $json.summary.internetFacingCount }}\n- Bunlardan aktif istismar edilen (KEV): {{ $json.summary.kevCount }}\n- En kritik bulgular: {{ $json.summary.topList }}\n\nONEMLI: Oncelik sayilari (kritik/yuksek/orta) RAPORLANAN {{ $json.summary.M }} CVE icindir. \"X zafiyet eslesti, bunlarin Y'si yuksek\" derken Y, M'yi asamaz; tutarli ol. Genel tarama sayisini (toplam taranan) yalnizca baglam olarak, ayri bir cumlede belirt."
      }
    },
    {
      "id": "vic-045",
      "name": "Ollama Exec Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1540,
        120
      ],
      "parameters": {
        "model": "gemma3:27b",
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "ollamaApi": {
          "id": "REPLACE_WITH_OLLAMA_CREDENTIAL_ID",
          "name": "Ollama account"
        }
      }
    },
    {
      "id": "vic-046",
      "name": "Compose Consolidated Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        460
      ],
      "parameters": {
        "jsCode": "// Tek konsolide, e-posta-guvenli HTML rapor (inline CSS, tablo tabanli)\nconst reports = ($('Aggregate Analyses').first().json.reports || []).filter(r => r && !r._empty && r.cveId);\nconst ps = $('Priority Scoring').first().json;\nconst stats = ps.stats || {};\nconst matchedN = (ps.inventoryMatched || []).length;\nlet RS = { includeDetectionQueries: true, includeMitre: true };\ntry { RS = { ...RS, ...((reports[0] && reports[0]._settings) || {}) }; } catch (e) {}\nlet MODE = 'manual';\ntry { MODE = $('Prepare Analysis Queue').first().json._mode || ((reports[0] && reports[0]._mode) || 'manual'); } catch (e) {}\nconst ifCount = reports.filter(r => (r.matchedInventory || []).some(m => m.internetFacing)).length;\nconst shouldNotify = (MODE === 'hourly') ? (ifCount > 0) : (MODE === 'api' ? false : true);\nconst M = reports.length;\n\nconst sd = $getWorkflowStaticData('global');\nconst prev = sd.lastReport || null;\nconst delta = prev && typeof prev.reportsGenerated === 'number' ? (M - prev.reportsGenerated) : null;\nconst deltaTxt = delta == null ? '' : ((delta >= 0 ? '+' + delta : '' + delta) + ' (önceki: ' + prev.reportsGenerated + ')');\n\nconst esc = s => String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst order = { CRITICAL: 0, HIGH: 1, MEDIUM: 2, LOW: 3 };\nreports.sort((a, b) => (order[a.priority] ?? 9) - (order[b.priority] ?? 9) || (b.cvssScore ?? 0) - (a.cvssScore ?? 0));\nconst crit = reports.filter(r => r.priority === 'CRITICAL');\nconst internetFacing = reports.filter(r => (r.matchedInventory || []).some(m => m.internetFacing));\n\n// ---- palet (ornek sablondan) ----\nconst C = { navy: '#001C30', navyMed: '#176B87', orange: '#FF6B00', orangeLt: '#FFD3B0', bg: '#F8F9FA', border: '#DEE2E6', white: '#FFFFFF' };\nconst sev = { CRITICAL: '#FF6B6B', HIGH: '#FF8B94', MEDIUM: '#FFD3B0', LOW: '#A8E6CF' };\nconst topPriority = crit.length ? 'CRITICAL' : (reports.some(r => r.priority === 'HIGH') ? 'HIGH' : (reports.length ? 'MEDIUM' : 'LOW'));\n\nconst invStr = r => (r.matchedInventory || [])\n  .map(m => esc(m.product) + (m.owner ? ' (' + esc(m.owner) + ')' : '') + (m.internetFacing ? ' <b style=\"color:' + C.orange + '\">[internet-facing]</b>' : ''))\n  .join(', ') || '-';\n\n// ---- kart sarmalayici ----\nconst card = (title, inner) =>\n  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:' + C.white + ';border-radius:12px;border-top:4px solid ' + C.orange + ';box-shadow:0 4px 6px rgba(0,0,0,0.05);margin:0 0 22px 0\">' +\n  '<tr><td style=\"padding:22px 24px\">' +\n  (title ? '<h3 style=\"margin:0 0 14px 0;color:' + C.navy + ';font-size:17px\">' + title + '</h3>' : '') + inner +\n  '</td></tr></table>';\n\n// ---- metrik satiri ----\nconst metric = (label, value, hl) =>\n  '<tr><td style=\"padding:12px 0;border-bottom:1px solid ' + C.border + ';color:' + C.navy + '\">' + label + '</td>' +\n  '<td align=\"right\" style=\"padding:12px 0;border-bottom:1px solid ' + C.border + ';font-weight:bold;color:' + (hl ? C.orange : C.navyMed) + '\">' + value + '</td></tr>';\n\nconst metricsCard = card('Temel Metrikler',\n  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">' +\n  metric('Taranan CVE (son 30s)', (stats.nvdCves ?? '?')) +\n  metric('CISA KEV katalog', (stats.kevTotal ?? '?')) +\n  metric('Envanter eşleşmesi', matchedN) +\n  metric('Detaylı rapor üretilen', M, matchedN !== M) +\n  metric('İnternete açık etkilenen', internetFacing.length, internetFacing.length > 0) +\n  '</table>');\n\n// ---- kritiklik skalasi ----\nconst segFlex = { LOW: [2,1,1,1], MEDIUM: [1,2,1,1], HIGH: [1,1,2,1], CRITICAL: [1,1,1,3] }[topPriority];\nconst scale =\n  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:18px 0\"><tr>' +\n  ['#A8E6CF', '#FFD3B0', '#FF8B94', '#FF6B6B'].map((c, idx) =>\n    '<td height=\"12\" style=\"background:' + c + ';' +\n    (idx === 0 ? 'border-radius:6px 0 0 6px;' : idx === 3 ? 'border-radius:0 6px 6px 0;' : '') +\n    'width:' + (segFlex[idx] * 20) + '%' +\n    (['LOW','MEDIUM','HIGH','CRITICAL'][idx] === topPriority ? ';border:2px solid ' + C.navy : '') + '\"></td>').join('') +\n  '</tr></table>';\nconst critCard = card('Kritiklik Durumu',\n  '<p style=\"margin:0 0 6px 0;color:' + C.navyMed + '\">Önceliklendirme sonucu organizasyonel etki:</p>' + scale +\n  '<p style=\"margin:6px 0\"><strong>Seviye: <span style=\"color:' + C.orange + '\">' + topPriority + '</span></strong></p>' +\n  '<p style=\"margin:6px 0;color:' + C.navy + '\">' + (crit.length ? (crit.length + ' kritik bulgu envanterinizi etkiliyor; internet-facing varlıklara öncelik verin.') : 'Kritik öncelikli bulgu yok; yüksek/orta öncelikliler izlemede.') + '</p>');\n\n// ---- yonetici ozeti (LLM) ----\nlet execSummary = '';\ntry { execSummary = ($('Exec Summary LLM').first().json.text || '').toString().trim(); } catch (e) {}\nexecSummary = execSummary.replace(/[*_\\u0060#]/g, '');\nif (!execSummary) {\n  execSummary = 'Son 30 saatte ' + (stats.nvdCves ?? '?') + ' CVE tarandi; ' + matchedN + ' tanesi envanterle eslesti, ' + M +\n    ' tanesi icin detayli analiz uretildi. ' + (stats.criticalCount ?? 0) + ' kritik oncelikli bulgu mevcut. ' +\n    'Internet-facing varliklara ve aktif istismar edilen zafiyetlere oncelik verilmelidir.';\n}\n\n// ---- bulgular tablosu ----\nconst sevColor = { CRITICAL: C.orange, HIGH: '#e67e22', MEDIUM: C.navyMed, LOW: '#7f8c8d' };\nconst th = (t, r) => '<th align=\"left\" style=\"padding:11px 10px;background:' + C.navyMed + ';color:#fff;font-size:13px' + (r === 'l' ? ';border-radius:6px 0 0 0' : r === 'r' ? ';border-radius:0 6px 0 0' : '') + '\">' + t + '</th>';\nconst findingRows = reports.slice(0, 50).map(r => {\n  const env = (r.matchedInventory || []).some(m => m.internetFacing) ? 'İnternete Açık' : 'İç Ortam';\n  const prod = [...new Set((r.matchedInventory || []).map(m => m.product))].map(esc).join(', ') || '-';\n  const bc = esc(r.businessCriticality || '-');\n  return '<tr>' +\n    '<td style=\"padding:9px 10px;border-bottom:1px solid #eee;font-weight:bold\">' + esc(r.cveId) + (r.previouslyNotified ? ' <span style=\"color:#999;font-weight:normal;font-size:11px\">↺</span>' : '') + '</td>' +\n    '<td style=\"padding:9px 10px;border-bottom:1px solid #eee\">' + (r.cvssScore != null ? r.cvssScore : '—') + '</td>' +\n    '<td style=\"padding:9px 10px;border-bottom:1px solid #eee\">' + (r.epss != null ? (r.epss * 100).toFixed(1) + '%' : '-') + '</td>' +\n    '<td style=\"padding:9px 10px;border-bottom:1px solid #eee\">' + (env === 'İnternete Açık' ? '<b style=\"color:' + C.orange + '\">' + env + '</b>' : env) + '</td>' +\n    '<td style=\"padding:9px 10px;border-bottom:1px solid #eee\">' + prod + '</td>' +\n    '<td style=\"padding:9px 10px;border-bottom:1px solid #eee;color:' + (sevColor[r.priority] || C.navyMed) + ';font-weight:bold\">' + esc(r.priority) + '</td>' +\n    '</tr>';\n}).join('');\nconst findingsTable =\n  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;font-size:13px;margin-top:6px\">' +\n  '<tr>' + th('CVE', 'l') + th('CVSS') + th('EPSS') + th('Ortam') + th('Ürün') + th('Kritiklik', 'r') + '</tr>' +\n  (findingRows || '<tr><td colspan=\"6\" style=\"padding:12px\">Envanterle eşleşen bulgu yok.</td></tr>') +\n  '</table>';\n\nconst findingsCard = card('Yönetici Özeti ve Bulgular',\n  '<p style=\"margin:0 0 6px 0;line-height:1.6;color:' + C.navy + '\">' + esc(execSummary) + '</p>' +\n  (reports.some(r => r.previouslyNotified) ? '<p style=\"margin:8px 0 0 0;font-size:12px;color:#888\">↺ işaretli bulgular son 4 saat içinde daha önce bildirildi. 4 saatten eski bildirimler rapora dahil edilmez.</p>' : '') +\n  '<p style=\"margin:10px 0 4px 0;color:' + C.navyMed + ';font-size:13px\">Sayı karşılaştırması: Flow 1 eşleşen <b>' + matchedN + '</b> · detaylı rapor <b>' + M + '</b>' +\n  (deltaTxt ? ' · ' + deltaTxt : '') +\n  (matchedN !== M ? ' · <span style=\"color:#c0392b\">' + (matchedN - M) + ' CVE rapora girmedi</span>' : '') + '</p>' +\n  findingsTable);\n\n// ---- Tespit / Inceleme bolumu (SPL + Sigma), ac/kapa ayariyla ----\nconst codeBox = (label, content) =>\n  '<div style=\"margin:6px 0\"><div style=\"font-size:12px;font-weight:bold;color:' + C.navyMed + '\">' + label + '</div>' +\n  '<pre style=\"margin:3px 0;padding:10px 12px;background:#0d1b2a;color:#e0e6ed;border-radius:6px;font-family:Consolas,Monaco,monospace;font-size:12px;white-space:pre-wrap;word-break:break-word;overflow-x:auto\">' + content + '</pre></div>';\nconst detectionBlock = r => {\n  const a = r.analysis || {};\n  const spl = (a.spl || '').toString().trim();\n  const sigma = (a.sigma || '').toString().trim();\n  if (!spl && !sigma) return '';\n  const splExp = (a.splAciklama || '').toString().trim();\n  const sigExp = (a.sigmaAciklama || '').toString().trim();\n  const note = (t) => t ? '<p style=\"margin:4px 0;font-size:12px;color:#555;line-height:1.5\">' + esc(t) + '</p>' : '';\n  return '<div style=\"margin:10px 0;padding:12px 14px;background:#f4f7fa;border:1px solid ' + C.border + ';border-radius:8px\">' +\n    '<div style=\"font-weight:bold;color:' + C.navy + ';margin-bottom:4px\">🔎 Tespit / İnceleme</div>' +\n    '<p style=\"margin:2px 0 8px 0;font-size:11px;color:#888\">Aşağıdaki sorgular otomatik üretildi; SOC ortamınızdaki index/sourcetype/alan adlarına göre uyarlayın.</p>' +\n    (spl ? note(splExp) + codeBox('Splunk SPL', esc(spl)) : '') +\n    (sigma ? note(sigExp) + codeBox('Sigma', esc(sigma)) : '') +\n    '</div>';\n};\n\n// ---- Zafiyet referans linkleri ----\nconst refsBlock = r => {\n  const cid = encodeURIComponent(r.cveId);\n  const links = [\n    { label: 'NVD', url: 'https://nvd.nist.gov/vuln/detail/' + cid },\n    { label: 'MITRE CVE.org', url: 'https://www.cve.org/CVERecord?id=' + cid }\n  ];\n  for (const u of (r.vendorRefs || []).slice(0, 5)) {\n    let host = u;\n    try { host = new URL(u).hostname.replace(/^www\\./, ''); } catch (e) {}\n    links.push({ label: host, url: u });\n  }\n  return '<p style=\"margin:6px 0;font-size:12px;color:#555\"><b style=\"color:' + C.navyMed + '\">Referanslar:</b> ' +\n    links.map(l => '<a href=\"' + esc(l.url) + '\" style=\"color:' + C.navyMed + '\">' + esc(l.label) + '</a>').join(' · ') + '</p>';\n};\n\n// ---- CVE basina detayli teknik bolum ----\nconst detailBlock = r => {\n  const a = r.analysis || {};\n  const mi = r.matchedInventory || [];\n  // Yayin tarihi 30 gunden eski ama son 30 saatte guncellenmis -> 'guncellendi (eski CVE)'\n  let updatedOld = false, pubStr = '';\n  try {\n    if (r.published) {\n      pubStr = ('' + r.published).slice(0, 10);\n      const pubMs = Date.parse(r.published);\n      if (!isNaN(pubMs) && (Date.now() - pubMs) > 30 * 24 * 3600 * 1000) updatedOld = true;\n    }\n  } catch (e) {}\n  const products = mi.map(m => m.product);\n  const assetsStr = mi.map(m => esc(m.product) + (m.owner ? ' (' + esc(m.owner) + ')' : '')).join(', ') || '-';\n  const watchlist = [...new Set(products)].map(esc).join(', ') || '-';\n  const ifx = mi.some(m => m.internetFacing);\n  const dataClass = (r.dataClassifications || []).join(', ') || '-';\n  const cpeStr = (r.cpeProducts || []).length ? (r.cpeProducts || []).map(esc).join(', ') : '-';\n  const cpeOk = (r.cpeProducts || []).length > 0;\n  const hasPocLinks = (r.pocRepos || []).length > 0;\n  const hasPocCount = (r.pocCount || 0) > 0;\n  const istismar = r.knownExploited\n    ? ('Aktif istismar (CISA KEV)' + (r.ransomware ? ' · ransomware' : ''))\n    : (hasPocLinks ? 'Public PoC mevcut (link aşağıda)'\n      : (hasPocCount ? 'Public PoC mevcut (' + r.pocCount + ' depo; link alınamadı)'\n      : (r.publicExploit ? 'Exploit sinyali var (PoC linki yok)' : 'Bilinen istismar yok')));\n  const pocLinks = (r.pocRepos || []).map(p => '<a href=\"' + esc(p.url) + '\" style=\"color:' + C.navyMed + '\">' + esc(p.name) + '</a>' + (p.stars != null ? ' (' + p.stars + ' yıldız)' : '')).join('<br>');\n  const pocs = (r.pocRepos || []).length\n    ? (r.pocCount || 0) + ' GitHub deposu' + (r.pocTopStars ? ' (en çok ' + r.pocTopStars + ' yıldız)' : '') + ':<br>' + pocLinks\n    : ((r.pocCount || 0) > 0 ? (r.pocCount + ' GitHub deposu bulundu (link sınırı)') : 'bulunamadı');\n\n  // veri tablosu satiri yardimcisi\n  const row = (label, val) =>\n    '<tr><td style=\"padding:7px 10px;border-bottom:1px solid ' + C.border + ';color:' + C.navyMed + ';font-weight:bold;width:38%;vertical-align:top\">' + label + '</td>' +\n    '<td style=\"padding:7px 10px;border-bottom:1px solid ' + C.border + ';vertical-align:top\">' + val + '</td></tr>';\n\n  const dataTable =\n    '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid ' + C.border + ';border-radius:6px;margin:10px 0;font-size:13px\">' +\n    row('Etkilenen Watchlist Ürünü', watchlist) +\n    row('Sorumlu Ekip', [...new Set(mi.map(m => m.owner).filter(Boolean))].map(esc).join(', ') || '-') +\n    row('Etkilenen Varlık Sayısı', String(mi.length)) +\n    row('Etkilenen Varlıklar', assetsStr) +\n    row('Internet Facing', ifx ? '<b style=\"color:' + C.orange + '\">EVET</b>' : 'Hayır') +\n    row('Business Criticality', esc(r.businessCriticality || '-') + (dataClass !== '-' ? ' · Veri: ' + esc(dataClass) : '')) +\n    row('Etkilenen Sistem/Sürüm', cpeStr) +\n    row('CPE Doğrulama', cpeOk ? '<span style=\"color:#27ae60\">NVD CPE eşleşmesi var</span>' : '<span style=\"color:#999\">CPE doğrulanamadı</span>') +\n    row('Yayın Tarihi', pubStr || '-') +\n  row('CWE', (r.cwe || []).length ? esc((r.cwe || []).join(', ')) : '-') +\n    (RS.includeMitre ? row('MITRE ATT&CK', esc(a.mitre || '-')) : '') +\n    row('Saldırı Vektörü', esc(a.saldiriVektoru || '-') + (r.cvssVector ? '<br><span style=\"color:#888;font-size:12px\">' + esc(r.cvssVector) + '</span>' : '')) +\n    row('CVSS', (r.cvssScore != null ? r.cvssScore : 'veri yok') + ' (' + esc(r.cvssSeverity || '-') + ')' + (r.cvssVersion ? ' · CVSS v' + esc(r.cvssVersion) : '')) +\n    row('EPSS Puanı', r.epss != null ? (r.epss * 100).toFixed(2) + '%' : '-') +\n    row('İstismar Durumu', esc(istismar)) +\n    row('IOC / Tespit', esc(a.iocTespit || '-')) +\n    row('Mitigasyon', esc(a.mitigasyon || '-')) +\n    '</table>';\n\n  return '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fff;border:1px solid ' + C.border + ';border-left:4px solid ' + (sev[r.priority] || C.navyMed) + ';border-radius:8px;margin:0 0 14px 0\">' +\n    '<tr><td style=\"padding:16px 20px\">' +\n    '<table role=\"presentation\" width=\"100%\"><tr>' +\n      '<td style=\"font-size:16px;font-weight:bold;color:' + C.navy + '\">' + esc(r.cveId) +\n        (r.previouslyNotified ? ' <span style=\"background:#eef1f4;color:#777;padding:2px 8px;border-radius:20px;font-size:11px;font-weight:normal\">↺ daha önce bildirildi</span>' : '') +\n        (updatedOld ? ' <span style=\"background:#fff4e6;color:#c87f0a;padding:2px 8px;border-radius:20px;font-size:11px;font-weight:normal\">güncellendi (eski CVE · ' + esc(pubStr) + ')</span>' : '') + '</td>' +\n      '<td align=\"right\"><span style=\"background:' + (sev[r.priority] || C.navyMed) + ';color:' + C.navy + ';padding:3px 10px;border-radius:20px;font-size:12px;font-weight:bold\">' + esc(r.priority) + '</span></td>' +\n    '</tr></table>' +\n    '<p style=\"margin:8px 0;line-height:1.55\"><b style=\"color:' + C.navyMed + '\">Özet:</b> ' + esc(a.ozet) + '</p>' +\n    dataTable +\n    '<p style=\"margin:8px 0;line-height:1.55\"><b style=\"color:' + C.navyMed + '\">Sömürü (Pentest / ZY-SZ):</b> ' + esc(a.somuru) + '</p>' +\n    (RS.includeDetectionQueries ? detectionBlock(r) : '') +\n    refsBlock(r) +\n    '<p style=\"margin:6px 0;font-size:12px;color:#555\"><b style=\"color:' + C.navyMed + '\">PoC / Exploit:</b> ' + pocs + '</p>' +\n    '</td></tr></table>';\n};\n\nconst header =\n  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 26px 0\"><tr>' +\n  '<td><h1 style=\"margin:0;color:' + C.navy + ';font-size:26px\">Envanterdeki Varlıklara Yönelik CVE Analizi</h1>' +\n  '<p style=\"margin:4px 0 0 0;color:' + C.navyMed + '\">Zafiyet İstihbarat Raporu · ' + new Date().toISOString().slice(0, 16).replace('T', ' ') + ' UTC</p></td>' +\n  '</tr></table>';\n\nconst twoCol =\n  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>' +\n  '<td width=\"49%\" valign=\"top\">' + metricsCard + '</td><td width=\"2%\"></td>' +\n  '<td width=\"49%\" valign=\"top\">' + critCard + '</td></tr></table>';\n\nconst html =\n  '<div style=\"background:' + C.bg + ';padding:28px;font-family:Segoe UI,Roboto,Arial,sans-serif;color:' + C.navy + '\">' +\n  '<div style=\"max-width:900px;margin:0 auto\">' +\n  header + twoCol + findingsCard +\n  card('Detaylı Teknik Analiz (' + M + ' CVE) — ZY/SZ + DE/SOC',\n    (reports.length ? reports.map(detailBlock).join('') : '<p>Envanterle eşleşen CVE bulunamadı.</p>')) +\n  '<p style=\"color:#aaa;font-size:12px;text-align:center;margin-top:20px\">Otomatik üretildi · Sömürü ve tespit bölümleri yalnızca toplanan veriye dayanır.</p>' +\n  '</div></div>';\n\nconst titlePrefix = MODE === 'hourly' ? '🔴 Saatlik İnternet-Facing Uyarısı'\n  : MODE === 'daily' ? '📊 Günlük Zafiyet Raporu'\n  : MODE === 'api' ? '🔌 Zafiyet Raporu (API)'\n  : '🔴 Zafiyet Raporu';\nconst subject = titlePrefix + ' — ' + (stats.criticalCount ?? 0) + ' kritik / ' + M + ' CVE (' + new Date().toISOString().slice(0, 10) + ')';\nsd.lastReport = { reportsGenerated: M, matched: matchedN, criticalCount: stats.criticalCount ?? 0, at: new Date().toISOString() };\n\n// ---- Diger araclar icin tam yapisal veri (cache + API) ----\nconst refUrls = (r) => {\n  const cid = encodeURIComponent(r.cveId);\n  return { nvd: 'https://nvd.nist.gov/vuln/detail/' + cid, mitre: 'https://www.cve.org/CVERecord?id=' + cid, vendor: (r.vendorRefs || []).slice(0, 5) };\n};\nconst reportData = {\n  generatedAt: new Date().toISOString(),\n  mode: MODE,\n  stats: stats,\n  matched: matchedN,\n  reportsGenerated: M,\n  internetFacingCount: ifCount,\n  cves: reports.map(r => ({\n    cveId: r.cveId, priority: r.priority,\n    cvssScore: r.cvssScore, cvssSeverity: r.cvssSeverity, cvssVector: r.cvssVector, cvssVersion: r.cvssVersion,\n    epss: r.epss, knownExploited: r.knownExploited, ransomware: r.ransomware,\n    publicExploit: r.publicExploit, pocCount: r.pocCount, pocRepos: r.pocRepos || [],\n    cwe: r.cwe || [], published: r.published, previouslyNotified: r.previouslyNotified || false,\n    matchedInventory: r.matchedInventory || [],\n    internetFacing: (r.matchedInventory || []).some(m => m.internetFacing),\n    references: refUrls(r),\n    analysis: r.analysis || {}\n  }))\n};\nsd.lastReportJson = reportData;\n\nreturn [{ json: { subject, html, reportsGenerated: M, matched: matchedN, mode: MODE, shouldNotify, reportData } }];"
      }
    },
    {
      "id": "vic-047",
      "name": "Compose Short Briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        660
      ],
      "parameters": {
        "jsCode": "// Telegram: yonetici ozeti + bulgu tablosu (deterministik, echo yok)\nconst reports = ($('Aggregate Analyses').first().json.reports || []).filter(r => r && !r._empty && r.cveId);\nconst ps = $('Priority Scoring').first().json;\nconst stats = ps.stats || {};\nconst matchedN = (ps.inventoryMatched || []).length;\nconst M = reports.length;\nconst order = { CRITICAL: 0, HIGH: 1, MEDIUM: 2, LOW: 3 };\nreports.sort((a, b) => (order[a.priority] ?? 9) - (order[b.priority] ?? 9) || (b.cvssScore ?? 0) - (a.cvssScore ?? 0));\n\nlet exec = '';\ntry { exec = ($('Exec Summary LLM').first().json.text || '').toString().trim().replace(/[*_\\u0060#]/g, ''); } catch (e) {}\n\nlet t = '🔴 **ZAFİYET İSTİHBARAT RAPORU** — ' + new Date().toISOString().slice(0, 16).replace('T', ' ') + ' UTC\\n\\n';\nif (exec) t += exec + '\\n\\n';\nt += '📊 ' + (stats.nvdCves ?? '?') + ' CVE tarandı · KEV ' + (stats.kevTotal ?? '?') +\n     ' · ' + (stats.criticalCount ?? 0) + 'C/' + (stats.highCount ?? 0) + 'H/' + (stats.mediumCount ?? 0) + 'M' +\n     ' · Eşleşme ' + matchedN + ' · Rapor ' + M + '\\n\\n';\n\nif (reports.length) {\n  t += '**Bulgular** (CVE · CVSS · EPSS · Ortam · Ürün · Kritiklik):\\n';\n  for (const r of reports.slice(0, 15)) {\n    const env = (r.matchedInventory || []).some(m => m.internetFacing) ? 'İnternete Açık' : 'İç Ortam';\n    const prod = [...new Set((r.matchedInventory || []).map(m => m.product))].join('/') || '-';\n    const epss = r.epss != null ? (r.epss * 100).toFixed(0) + '%' : '-';\n    t += '• ' + r.cveId + (r.previouslyNotified ? ' ↺' : '') + ' · ' + (r.cvssScore ?? '?') + ' · ' + epss + ' · ' + env + ' · ' + prod + ' · **' + r.priority + '**\\n';\n  }\n  if (reports.length > 15) t += '… +' + (reports.length - 15) + ' bulgu daha (e-postada)\\n';\n} else {\n  t += 'Envanterle eşleşen bulgu yok.\\n';\n}\nt += '\\nTüm teknik detay (saldırı vektörü, IOC/tespit, mitigasyon, PoC) e-posta raporundadır.';\nreturn [{ json: { text: t } }];"
      }
    },
    {
      "id": "vic-048",
      "name": "Email - Vuln Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1760,
        320
      ],
      "parameters": {
        "fromEmail": "vuln-intel@example.com",
        "toEmail": "soc@example.com",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "vic-049",
      "name": "Teams - Critical Alert",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1760,
        620
      ],
      "parameters": {
        "resource": "channelMessage",
        "operation": "create",
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_TEAM_ID"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_CHANNEL_ID"
        },
        "contentType": "html",
        "message": "={{ ($json.text || \"\").replace(/\\n/g, \"<br>\") }}",
        "options": {}
      },
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "REPLACE_WITH_TEAMS_CREDENTIAL_ID",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "id": "vic-050",
      "name": "Telegram Chunker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        760
      ],
      "parameters": {
        "jsCode": "// Telegram icin: markdown entity'lerini temizle (parse hatasi onler) + 4096 limiti icin parcala\nconst LIMIT = 4000;\nlet text = ($input.first().json.text || '').trim();\n\n// LLM ciktisi Discord markdown — Telegram'in Markdown parser'i dengesiz entity'lerde\n// \"can't parse entities\" hatasi verir. Linkleri duz metne cevir, kalan isaretleri kaldir.\ntext = text\n  .replace(/\\[([^\\]]*)\\]\\(([^)]*)\\)/g, '$1 ($2)')   // [metin](url) -> metin (url)\n  .replace(/\\u0060\\u0060\\u0060[a-z]*\\n?/gi, '')      // kod blogu citleri (backtick x3)\n  .replace(/[\\u0060*_~]/g, '')                       // kalan entity karakterleri\n  .replace(/^#{1,6}\\s*/gm, '');                      // basliklari duzlestir\n\nconst chunks = [];\nlet buf = '';\nfor (const line of text.split('\\n')) {\n  if ((buf + '\\n' + line).length > LIMIT) {\n    if (buf) chunks.push(buf);\n    buf = line.slice(0, LIMIT);\n  } else {\n    buf = buf ? buf + '\\n' + line : line;\n  }\n}\nif (buf) chunks.push(buf);\nif (!chunks.length) chunks.push('(bos brifing)');\nreturn chunks.map((c, i) => ({ json: { chunk: c, part: i + 1, totalParts: chunks.length } }));"
      }
    },
    {
      "id": "vic-051",
      "name": "Telegram - Critical Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1960,
        760
      ],
      "parameters": {
        "chatId": "REPLACE_CHAT_ID",
        "text": "={{ $json.chunk }}",
        "additionalFields": {}
      }
    },
    {
      "id": "vic-052",
      "name": "Execution Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        900
      ],
      "parameters": {
        "jsCode": "// Calistirma gecmisi (son 50)\nconst stats = $('Priority Scoring').first().json.stats || {};\nlet reportsGenerated = null;\ntry { reportsGenerated = $('Compose Consolidated Report').first().json.reportsGenerated; } catch (e) {}\nconst record = { ...stats, reportsGenerated, executionId: $execution.id, workflow: 'Vuln Intel Suite', status: 'completed' };\nconst sd = $getWorkflowStaticData('global');\nsd.runHistory = sd.runHistory || [];\nsd.runHistory.push(record);\nif (sd.runHistory.length > 50) sd.runHistory = sd.runHistory.slice(-50);\nreturn [{ json: record }];"
      }
    },
    {
      "id": "vic-053",
      "name": "Should Notify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1740,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "sn",
              "leftValue": "={{ $json.shouldNotify }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "vic-054",
      "name": "Is API Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1740,
        1060
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "api",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "api",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "vic-055",
      "name": "Respond Report JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1960,
        1060
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.reportData }}",
        "options": {}
      }
    },
    {
      "id": "vic-056",
      "name": "Report Data Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1740,
        1280
      ],
      "webhookId": "vuln-report-data",
      "parameters": {
        "httpMethod": "GET",
        "path": "vuln-report-data",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "vic-057",
      "name": "Read Report Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        1280
      ],
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nreturn [{ json: sd.lastReportJson || { error: 'Henuz rapor uretilmedi', cves: [] } }];"
      }
    },
    {
      "id": "vic-058",
      "name": "Respond Report Cache",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2180,
        1280
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "vic-059",
      "name": "Sticky - Header",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2380,
        -560
      ],
      "parameters": {
        "content": "## 🛡️ Vulnerability Intelligence Suite\n**Flow 1 (zamanlanmis):** NVD API + KEV + dinamik feed registry → korelasyon → envanter eslestirme → EPSS + GitHub/OSV/PoC zenginlestirme → Critical/High/Medium/Low onceliklendirme → **CVE basina LLM analizi (somuru + tespit + aksiyon, JSON)** → **tek konsolide HTML rapor**.\n\n**Hibrit rapor:** Format ve sayi karsilastirmasi KOD ile uretilir (sasmaz); LLM yalnizca CVE basina analiz metnini yazar. Bu, prompt-echo ve format kaymasini engeller.\n\n**Credentials:** Discord Webhook, Ollama, (ops.) Telegram + SMTP + VulnCheck token.\n**Config:** Tum envanter `Inventory Registry` dugumunde.",
        "width": 1400,
        "height": 300,
        "color": 7
      }
    },
    {
      "id": "vic-060",
      "name": "Sticky - Sources",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2060,
        -560
      ],
      "parameters": {
        "content": "### 📥 Kaynaklar\n**CVE DB:** NVD API 2.0 — son 30 saat, 2000'lik sayfalar (bellek dostu).\n**Dinamik feed listesi:** Feed Registry dugumune satir ekleyin.\n**KEV:** CISA katalog. **Exploit:** Exploit-DB, ZDI, PacketStorm.\n**Vendor PSIRT:** MSRC, Cisco, Fortinet, PaloAlto, Oracle, Adobe, Ubuntu, Jenkins.\n**Scanner:** Tenable. ⚠️ Rapid7/Qualys/cvelistV5 kapsam disi (parse edilemez).",
        "width": 700,
        "height": 480,
        "color": 5
      }
    },
    {
      "id": "vic-061",
      "name": "Sticky - Report",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1300,
        180
      ],
      "parameters": {
        "content": "### 📝 Rapor Mimarisi (Hibrit)\n**Prepare Analysis Queue** envanterle eslesen CVE'leri (kritik once, azami 20) kuyruga koyar.\n**Loop Analysis** her CVE icin **Analysis LLM**'i cagirir → STRICT JSON {ozet, somuru, tespit, aksiyon}.\n**Collect Analysis** JSON'u ayristirir (parse hatasinda fallback).\n**Compose Consolidated Report** TEK HTML mail uretir: brifing + sayi karsilastirmasi (Flow1 eslesme vs uretilen rapor) + CVE basina <details> acilir teknik bolum.\n**Compose Short Briefing** Discord/Telegram icin deterministik ozet (LLM yok).",
        "width": 640,
        "height": 340,
        "color": 4
      }
    },
    {
      "id": "vic-062",
      "name": "Sticky - Priority",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        220
      ],
      "parameters": {
        "content": "### 🎯 Oncelik Matrisi (envanter eslesmesi sartiyla)\n**CRITICAL:** KEV · PublicExploit+EPSS≥0.70 · CVSS≥9+internet-facing\n**HIGH:** EPSS≥0.50 · PoC/KEV yok · vendor patch · scanner plugin\n**MEDIUM:** stack var/sinyal zayif veya CVSS≥7+exploit yok\n**LOW:** dusuk sinyal",
        "width": 600,
        "height": 280,
        "color": 6
      }
    },
    {
      "id": "vic-063",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        2020
      ],
      "webhookId": "fc8bcd54-852e-4a5d-b914-54bbe10edb5e",
      "parameters": {
        "httpMethod": "GET",
        "path": "cve-explainer",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "vic-064",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        2240
      ],
      "webhookId": "cd71f3e4-72e6-4aa9-a462-cb3a557c1c43",
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "vic-065",
      "name": "Input Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        2120
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nlet raw =\n  item.cveId ?? item.cve ??\n  (item.query && (item.query.cve || item.query.cveId)) ??\n  (item.body && (item.body.cve || item.body.cveId)) ??\n  item.chatInput ?? '';\n\nraw = String(raw).trim().toUpperCase();\nconst match = raw.match(/CVE-\\d{4}-\\d{4,}/);\nif (!match) {\n  throw new Error('Gecerli bir CVE ID bulunamadi: \"' + raw + '\". Beklenen format: CVE-YYYY-NNNN');\n}\n// Flow 1 handoff'undan veya webhook query'sinden gelen envanter baglami (varsa)\nconst q = item.query || {};\nconst ifRaw = item.internetFacing ?? q.internetFacing ?? null;\nconst ctx = {\n  internetFacing: (ifRaw === true || ifRaw === 'true') ? true : (ifRaw === false || ifRaw === 'false') ? false : null,\n  products: item.products ?? q.products ?? null,\n  owner: item.owner ?? q.owner ?? null,\n  priority: item.priority ?? q.priority ?? null\n};\nreturn [{ json: { cveId: match[0], ...ctx } }];"
      }
    },
    {
      "id": "vic-066",
      "name": "Fetch PoC Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        1980
      ],
      "parameters": {
        "url": "https://api.github.com/search/repositories",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Input Validator').first().json.cveId }}"
            },
            {
              "name": "sort",
              "value": "stars"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-cve-explainer"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "id": "vic-067",
      "name": "Fetch CISA KEV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        2040
      ],
      "parameters": {
        "url": "https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "id": "vic-068",
      "name": "Fetch EPSS Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        2100
      ],
      "parameters": {
        "url": "https://api.first.org/data/v1/epss",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cve",
              "value": "={{ $('Input Validator').first().json.cveId }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "id": "vic-069",
      "name": "Fetch CVE Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        2160
      ],
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cveId",
              "value": "={{ $('Input Validator').first().json.cveId }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "id": "vic-070",
      "name": "Extract CVE Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        2120
      ],
      "parameters": {
        "jsCode": "// All 4 fetchers have run sequentially before this node.\nconst cveId = $('Input Validator').first().json.cveId;\n\nlet nvd = {};\ntry {\n  const raw = $('Fetch CVE Data').first().json;\n  const v = raw?.vulnerabilities?.[0]?.cve;\n  if (v) {\n    const m = v.metrics || {};\n    const pick = (arr) => (arr && arr[0]) ? arr[0] : null;\n    const me31 = pick(m.cvssMetricV31), me30 = pick(m.cvssMetricV30), me40 = pick(m.cvssMetricV40), me2 = pick(m.cvssMetricV2);\n    let _s=null,_sev=null,_vec=null,_ver=null;\n    for (const cand of [\n      me31 && { d: me31.cvssData, sev: me31.cvssData?.baseSeverity, ver:'3.1' },\n      me30 && { d: me30.cvssData, sev: me30.cvssData?.baseSeverity, ver:'3.0' },\n      me40 && { d: me40.cvssData, sev: me40.cvssData?.baseSeverity, ver:'4.0' },\n      me2  && { d: me2.cvssData,  sev: me2.baseSeverity, ver:'2.0' }\n    ]) { if (cand && cand.d && cand.d.baseScore != null) { _s=cand.d.baseScore; _sev=(cand.sev||'').toUpperCase()||null; _vec=cand.d.vectorString||null; _ver=cand.ver; break; } }\n    nvd = {\n      description: (v.descriptions || []).find(d => d.lang === 'en')?.value || '',\n      published: v.published || '',\n      cvssScore: _s,\n      cvssSeverity: _sev,\n      cvssVector: _vec,\n      cvssVersion: _ver,\n      cwe: (v.weaknesses || [])\n        .flatMap(w => (w.description || []).map(d => d.value))\n        .filter(x => x && x !== 'NVD-CWE-noinfo'),\n      vendorRefs: (v.references || []).map(rf => rf.url).filter(Boolean).slice(0, 6)\n    };\n  } else {\n    nvd = { note: 'NVD kaydi bulunamadi veya yanit bos' };\n  }\n} catch (e) { nvd = { error: String(e) }; }\n\nlet kev = { listed: false };\ntry {\n  const cat = $('Fetch CISA KEV').first().json?.vulnerabilities || [];\n  const hit = cat.find(x => x.cveID === cveId);\n  if (hit) {\n    kev = {\n      listed: true,\n      vulnerabilityName: hit.vulnerabilityName,\n      dateAdded: hit.dateAdded,\n      dueDate: hit.dueDate,\n      ransomware: hit.knownRansomwareCampaignUse,\n      requiredAction: hit.requiredAction\n    };\n  }\n} catch (e) { kev = { listed: false, error: String(e) }; }\n\nlet epss = {};\ntry {\n  const d = $('Fetch EPSS Score').first().json?.data?.[0];\n  if (d) {\n    epss = { score: parseFloat(d.epss), percentile: parseFloat(d.percentile) };\n  } else {\n    epss = { note: 'EPSS skoru bulunamadi' };\n  }\n} catch (e) { epss = { error: String(e) }; }\n\nlet poc = { found: false, count: 0, repos: [] };\ntry {\n  const gh = $('Fetch PoC Check').first().json;\n  const items = gh?.items || [];\n  poc = {\n    found: items.length > 0,\n    count: gh?.total_count ?? items.length,\n    repos: items.slice(0, 5).map(r => ({\n      name: r.full_name, url: r.html_url,\n      stars: r.stargazers_count, description: r.description\n    }))\n  };\n} catch (e) { poc = { found: false, error: String(e) }; }\n\nconst iv = $('Input Validator').first().json;\nconst inventory = {\n  internetFacing: iv.internetFacing ?? null,\n  products: iv.products ?? null,\n  owner: iv.owner ?? null,\n  priority: iv.priority ?? null\n};\n\nreturn [{ json: { cveId, nvd, kev, epss, poc, inventory } }];"
      }
    },
    {
      "id": "vic-071",
      "name": "CVE Explainer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1520,
        2120
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.cveId }} icin zenginlestirilmis CVE verisi:\n{{ JSON.stringify($json, null, 2) }}",
        "options": {
          "systemMessage": "Sen kidemli bir zafiyet analisti, sizma testi uzmani ve detection engineer'sin. Sana TEK bir CVE'nin zenginlestirilmis verisi (NVD, CISA KEV, FIRST EPSS, GitHub PoC) JSON olarak veriliyor. SADECE su semaya uyan gecerli bir JSON dondur, baska hicbir sey yazma:\n{\"ozet\":\"1-2 cumle zafiyet tanimi\",\"saldiriVektoru\":\"erisim yolu, kimlik dogrulama, kullanici etkilesimi; CVSS vektorunu sade dille acikla\",\"somuru\":\"pentest bakisiyla pratik somuru, on kosullar, etki; veri sinirliysa belirt\",\"iocTespit\":\"detection engineering: log kaynagi + aranacak IOC/pattern\",\"mitigasyon\":\"patch + gecici workaround + telafi edici kontrol\",\"mitre\":\"olasi MITRE ATT&CK teknigi adi ve ID, or. Exploit Public-Facing Application T1190\",\"splAciklama\":\"SPL ne tespit eder, hangi log/alanlar\",\"spl\":\"kapsamli calistirilabilir Splunk SPL, gercekci index/sourcetype/alan, stats/eval/esik\",\"sigmaAciklama\":\"Sigma kuralinin amaci ve hedef log kaynagi\",\"sigma\":\"tam gecerli Sigma kurali YAML: title,status,description,logsource,detection,condition,falsepositives,level\"}\nTurkce yaz. Yalnizca verilen veriyi kullan, uydurma. JSON disinda metin yok."
        }
      }
    },
    {
      "id": "vic-072",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1520,
        2360
      ],
      "parameters": {
        "model": "gemma3:27b",
        "options": {}
      },
      "credentials": {
        "ollamaApi": {
          "id": "REPLACE_WITH_OLLAMA_CREDENTIAL_ID",
          "name": "Ollama account"
        }
      }
    },
    {
      "id": "vic-073",
      "name": "Route Webhook Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        1900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "abb7473a-a000-4123-a046-d0a7e99fc7d5",
              "leftValue": "={{ $('Webhook').isExecuted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "vic-074",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2000,
        1860
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { cveId: $('Extract CVE Details').first().json.cveId, summary: $json.output, enrichment: $('Extract CVE Details').first().json, analysis: ($('Format Email').first().json.analysis || {}), references: { nvd: 'https://nvd.nist.gov/vuln/detail/' + $('Extract CVE Details').first().json.cveId, mitre: 'https://www.cve.org/CVERecord?id=' + $('Extract CVE Details').first().json.cveId } } }}",
        "options": {}
      }
    },
    {
      "id": "vic-075",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        2120
      ],
      "parameters": {
        "jsCode": "const d = $('Extract CVE Details').first().json;\n\n// Agent JSON analizini ayristir\nlet raw = ($json.output || $json.text || '').toString().trim();\nraw = raw.replace(/^[\\s\\S]*?\\u0060\\u0060\\u0060(?:json)?/i, '').replace(/\\u0060\\u0060\\u0060[\\s\\S]*$/i, '').trim();\nlet a = {};\ntry { a = JSON.parse(raw); } catch (e) { const m = raw.match(/\\{[\\s\\S]*\\}/); try { a = m ? JSON.parse(m[0]) : {}; } catch (_) { a = {}; } }\nconst looksLikeQuery = (s) => {\n  if (!s) return false; s = ('' + s).trim();\n  return /^(spl|sigma|yaml|json)\\b/i.test(s) ||\n    /\\bindex\\s*=|\\bsourcetype\\s*=|EventCode\\s*=|\\|\\s*stats\\b|\\|\\s*where\\b|\\|\\s*search\\b/i.test(s) ||\n    /^\\s*title:\\s|logsource:|detection:\\s|condition:\\s/im.test(s);\n};\nlet splX = a.spl || '', sigmaX = a.sigma || '';\nlet ozetX = a.ozet || a.summary || '';\nif (looksLikeQuery(ozetX)) {\n  const t = ('' + ozetX).trim();\n  if (/^\\s*title:|logsource:|detection:/im.test(t) || /^(yaml|sigma)\\b/i.test(t)) { if (!sigmaX) sigmaX = t.replace(/^(yaml|sigma)\\s*/i, ''); }\n  else { if (!splX) splX = t.replace(/^splunk\\s*/i, ''); }\n  ozetX = '';\n}\nif (!ozetX) {\n  const ds = ('' + ((d.nvd && d.nvd.description) || '')).split(/(?<=[.!?])\\s/)[0];\n  ozetX = (ds && !looksLikeQuery(ds)) ? ds.slice(0, 200) : (d.cveId + ' zafiyeti icin ozet uretilemedi.');\n}\nconst cleanX = (v, fb) => (v && !looksLikeQuery(v)) ? v : fb;\nconst analysis = {\n  ozet: ozetX,\n  saldiriVektoru: cleanX(a.saldiriVektoru || a.attackVector, '-'),\n  somuru: cleanX(a.somuru || a.exploit, 'Teknik somuru verisi sinirli.'),\n  iocTespit: cleanX(a.iocTespit || a.tespit || a.detection, 'Tespit onerisi uretilemedi.'),\n  mitigasyon: cleanX(a.mitigasyon || a.mitigation, '-'),\n  mitre: a.mitre || '-', spl: splX, sigma: sigmaX, splAciklama: cleanX(a.splAciklama, ''), sigmaAciklama: cleanX(a.sigmaAciklama, '')\n};\n\nconst C = { navy: '#001C30', navyMed: '#176B87', orange: '#FF6B00', orangeLt: '#FFD3B0', bg: '#F8F9FA', border: '#DEE2E6' };\nconst esc = s => String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nconst nvd = d.nvd || {};\nconst cvss = nvd.cvssScore != null ? nvd.cvssScore : '?';\nconst sevName = nvd.cvssSeverity || '-';\nconst sevColor = { CRITICAL: '#FF6B6B', HIGH: '#FF8B94', MEDIUM: '#FFD3B0', LOW: '#A8E6CF' }[(sevName || '').toUpperCase()] || C.navyMed;\nconst epssTxt = (d.epss && d.epss.score != null) ? (d.epss.score * 100).toFixed(2) + '%' : '-';\nconst kevTxt = d.kev && d.kev.listed ? 'EVET - ' + d.kev.dateAdded + (d.kev.ransomware && d.kev.ransomware !== 'Unknown' ? ' (ransomware: ' + d.kev.ransomware + ')' : '') : 'Hayir';\nconst inv = d.inventory || {};\nconst invStr = inv.products ? esc(inv.products) + (inv.owner ? ' (' + esc(inv.owner) + ')' : '') + (inv.internetFacing ? ' <b style=\"color:' + C.orange + '\">[internet-facing]</b>' : '') : '-';\nconst istismar = (d.kev && d.kev.listed)\n  ? 'Aktif istismar (CISA KEV)'\n  : ((d.poc && d.poc.found && (d.poc.repos || []).length) ? 'Public PoC mevcut (link aşağıda)'\n    : ((d.poc && d.poc.count > 0) ? 'Public PoC mevcut (' + d.poc.count + ' depo)' : 'Bilinen istismar yok'));\nconst pocList = d.poc && d.poc.found\n  ? (d.poc.count || 0) + ' GitHub deposu:<br>' + (d.poc.repos || []).map(r => '<a href=\"' + esc(r.url) + '\" style=\"color:' + C.navyMed + '\">' + esc(r.name) + '</a> (' + (r.stars || 0) + ' yıldız)').join('<br>')\n  : 'bulunamadı';\n\nconst row = (label, val) =>\n  '<tr><td style=\"padding:7px 10px;border-bottom:1px solid ' + C.border + ';color:' + C.navyMed + ';font-weight:bold;width:38%;vertical-align:top\">' + label + '</td>' +\n  '<td style=\"padding:7px 10px;border-bottom:1px solid ' + C.border + ';vertical-align:top\">' + val + '</td></tr>';\n\nconst dataTable =\n  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid ' + C.border + ';border-radius:6px;margin:10px 0;font-size:13px\">' +\n  row('Etkilenen Envanter', invStr) +\n  (inv.owner ? row('Sorumlu Ekip', esc(inv.owner)) : '') +\n  row('Internet Facing', inv.internetFacing ? '<b style=\"color:' + C.orange + '\">EVET</b>' : 'Hayır') +\n  row('CWE', (nvd.cwe || []).length ? esc((nvd.cwe || []).join(', ')) : '-') +\n  (analysis.mitre && analysis.mitre !== '-' ? row('MITRE ATT&CK', esc(analysis.mitre)) : '') +\n  row('Saldırı Vektörü', esc(analysis.saldiriVektoru) + (nvd.cvssVector ? '<br><span style=\"color:#888;font-size:12px\">' + esc(nvd.cvssVector) + '</span>' : '')) +\n  row('CVSS', (nvd.cvssScore != null ? nvd.cvssScore : 'veri yok') + ' (' + esc(sevName) + ')' + (nvd.cvssVersion ? ' · CVSS v' + esc(nvd.cvssVersion) : '')) +\n  row('EPSS Puanı', epssTxt) +\n  row('İstismar Durumu', esc(istismar)) +\n  row('IOC / Tespit', esc(analysis.iocTespit)) +\n  row('Mitigasyon', esc(analysis.mitigasyon)) +\n  '</table>';\n\nconst codeBox = (label, content) =>\n  '<div style=\"margin:6px 0\"><div style=\"font-size:12px;font-weight:bold;color:' + C.navyMed + '\">' + label + '</div>' +\n  '<pre style=\"margin:3px 0;padding:10px 12px;background:#0d1b2a;color:#e0e6ed;border-radius:6px;font-family:Consolas,Monaco,monospace;font-size:12px;white-space:pre-wrap;word-break:break-word\">' + content + '</pre></div>';\nconst enote = (t) => t ? '<p style=\"margin:4px 0;font-size:12px;color:#555;line-height:1.5\">' + esc(t) + '</p>' : '';\nconst detection = (analysis.spl || analysis.sigma)\n  ? '<div style=\"margin:10px 0;padding:12px 14px;background:#f4f7fa;border:1px solid ' + C.border + ';border-radius:8px\">' +\n    '<div style=\"font-weight:bold;color:' + C.navy + ';margin-bottom:4px\">🔎 Tespit / İnceleme</div>' +\n    '<p style=\"margin:2px 0 8px 0;font-size:11px;color:#888\">Sorgular otomatik üretildi; ortamınıza uyarlayın.</p>' +\n    (analysis.spl ? enote(analysis.splAciklama) + codeBox('Splunk SPL', esc(analysis.spl)) : '') +\n    (analysis.sigma ? enote(analysis.sigmaAciklama) + codeBox('Sigma', esc(analysis.sigma)) : '') + '</div>'\n  : '';\n\nconst cid = encodeURIComponent(d.cveId);\nconst refLinks = [\n  { label: 'NVD', url: 'https://nvd.nist.gov/vuln/detail/' + cid },\n  { label: 'MITRE CVE.org', url: 'https://www.cve.org/CVERecord?id=' + cid }\n];\nfor (const u of ((nvd.vendorRefs) || []).slice(0, 5)) {\n  let host = u;\n  try { host = new URL(u).hostname.replace(/^www\\./, ''); } catch (e) {}\n  refLinks.push({ label: host, url: u });\n}\nconst refsLine = '<p style=\"margin:6px 0;font-size:12px;color:#555\"><b style=\"color:' + C.navyMed + '\">Referanslar:</b> ' +\n  refLinks.map(l => '<a href=\"' + esc(l.url) + '\" style=\"color:' + C.navyMed + '\">' + esc(l.label) + '</a>').join(' · ') + '</p>';\n\nconst subject = '[CVE Brief] ' + d.cveId + (d.kev && d.kev.listed ? ' - CISA KEV' : '') + (nvd.cvssScore != null ? ' - CVSS ' + nvd.cvssScore : '');\n\nconst html =\n  '<div style=\"background:' + C.bg + ';padding:24px;font-family:Segoe UI,Roboto,Arial,sans-serif;color:' + C.navy + '\">' +\n  '<div style=\"max-width:820px;margin:0 auto\">' +\n  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fff;border-radius:12px;border-top:4px solid ' + C.orange + ';box-shadow:0 4px 6px rgba(0,0,0,0.05)\">' +\n  '<tr><td style=\"padding:22px 24px\">' +\n  '<table role=\"presentation\" width=\"100%\"><tr>' +\n    '<td style=\"font-size:20px;font-weight:bold;color:' + C.navy + '\">' + esc(d.cveId) + '</td>' +\n    '<td align=\"right\"><span style=\"background:' + sevColor + ';color:' + C.navy + ';padding:4px 12px;border-radius:20px;font-size:12px;font-weight:bold\">' + esc(sevName) + '</span></td>' +\n  '</tr></table>' +\n  '<p style=\"margin:10px 0;line-height:1.55\"><b style=\"color:' + C.navyMed + '\">Özet:</b> ' + esc(analysis.ozet) + '</p>' +\n  dataTable +\n  '<p style=\"margin:8px 0;line-height:1.55\"><b style=\"color:' + C.navyMed + '\">Sömürü (Pentest / ZY-SZ):</b> ' + esc(analysis.somuru) + '</p>' +\n  detection +\n  refsLine +\n  '<p style=\"margin:6px 0;font-size:12px;color:#555\"><b style=\"color:' + C.navyMed + '\">PoC / Exploit:</b> ' + pocList + '</p>' +\n  '</td></tr></table>' +\n  '<p style=\"color:#aaa;font-size:12px;text-align:center;margin-top:16px\">Otomatik üretildi · Tek CVE sorgu yanıtı (Explainer).</p>' +\n  '</div></div>';\n\nconst summary = analysis.ozet;\ntry {\n  const sd = $getWorkflowStaticData('global');\n  sd.lastExplainer = { cveId: d.cveId, at: new Date().toISOString(), analysis, enrichment: d,\n    references: { nvd: 'https://nvd.nist.gov/vuln/detail/' + d.cveId, mitre: 'https://www.cve.org/CVERecord?id=' + d.cveId } };\n} catch (e) {}\nreturn [{ json: { subject, html, summary, analysis, ...d } }];"
      }
    },
    {
      "id": "vic-076",
      "name": "Email - CVE Brief",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2000,
        2120
      ],
      "parameters": {
        "fromEmail": "cdc@example.com",
        "toEmail": "zafiyetyonetimi@example.com",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "vic-077",
      "name": "Explainer Data Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        2620
      ],
      "webhookId": "cve-explainer-data",
      "parameters": {
        "httpMethod": "GET",
        "path": "cve-explainer-data",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "vic-078",
      "name": "Read Explainer Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        2620
      ],
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nreturn [{ json: sd.lastExplainer || { error: 'Henuz CVE sorgusu yapilmadi' } }];"
      }
    },
    {
      "id": "vic-079",
      "name": "Respond Explainer Cache",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        400,
        2620
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "vic-080",
      "name": "Sticky - Explainer",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        1620
      ],
      "parameters": {
        "content": "### 🔎 CVE Explainer & POC Fetcher (on-demand)\n**Tetikleyiciler:** GET webhook (\\`/webhook/cve-explainer?cve=CVE-XXXX-YYYY\\`) veya Chat paneli.\n**Akış:** CVE doğrula → GitHub PoC repo ara → CISA KEV → EPSS → NVD → birleştir → gemma3:27b özet.\n**Çıkışlar:** Webhook'a JSON yanıt, SMTP e-posta (HTML brief, PoC repo linkleriyle), Slack (devre dışı).\nBatch correlator'dan bağımsız çalışır; aynı workflow içinde iki ayrı akıştır.",
        "width": 700,
        "height": 240,
        "color": 4
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "NVD API Pull (30h)",
            "type": "main",
            "index": 0
          },
          {
            "node": "CISA KEV Catalog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed Registry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inventory Registry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Report Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Daily (24h)": {
      "main": [
        [
          {
            "node": "NVD API Pull (30h)",
            "type": "main",
            "index": 0
          },
          {
            "node": "CISA KEV Catalog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed Registry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inventory Registry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Report Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report API Trigger": {
      "main": [
        [
          {
            "node": "NVD API Pull (30h)",
            "type": "main",
            "index": 0
          },
          {
            "node": "CISA KEV Catalog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed Registry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inventory Registry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Report Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Every 6h)": {
      "main": [
        [
          {
            "node": "NVD API Pull (30h)",
            "type": "main",
            "index": 0
          },
          {
            "node": "CISA KEV Catalog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Feed Registry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inventory Registry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Report Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NVD API Pull (30h)": {
      "main": [
        [
          {
            "node": "Normalize NVD CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize NVD CVEs": {
      "main": [
        [
          {
            "node": "Merge All Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CISA KEV Catalog": {
      "main": [
        [
          {
            "node": "Build KEV Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build KEV Map": {
      "main": [
        [
          {
            "node": "Merge All Signals",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Feed Registry": {
      "main": [
        [
          {
            "node": "Select Exploit Feeds",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select Vendor Feeds",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select Scanner Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Exploit Feeds": {
      "main": [
        [
          {
            "node": "RSS Reader - Exploit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Reader - Exploit": {
      "main": [
        [
          {
            "node": "Build Exploit Signal Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Exploit Signal Map": {
      "main": [
        [
          {
            "node": "Merge All Signals",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Select Vendor Feeds": {
      "main": [
        [
          {
            "node": "RSS Reader - Vendor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Reader - Vendor": {
      "main": [
        [
          {
            "node": "Build Vendor Signal Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Vendor Signal Map": {
      "main": [
        [
          {
            "node": "Merge All Signals",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Select Scanner Feeds": {
      "main": [
        [
          {
            "node": "RSS Reader - Scanner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Reader - Scanner": {
      "main": [
        [
          {
            "node": "Build Scanner Signal Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scanner Signal Map": {
      "main": [
        [
          {
            "node": "Merge All Signals",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Inventory Registry": {
      "main": [
        [
          {
            "node": "Merge All Signals",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge All Signals": {
      "main": [
        [
          {
            "node": "Correlate + Stack Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correlate + Stack Filter": {
      "main": [
        [
          {
            "node": "Prepare EPSS Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare EPSS Batches": {
      "main": [
        [
          {
            "node": "EPSS Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EPSS Lookup": {
      "main": [
        [
          {
            "node": "Merge EPSS Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge EPSS Scores": {
      "main": [
        [
          {
            "node": "Prepare OSS Lookups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OSS Lookups": {
      "main": [
        [
          {
            "node": "Loop OSS Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop OSS Enrichment": {
      "main": [
        [
          {
            "node": "Aggregate OSS Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OSV Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OSV Lookup": {
      "main": [
        [
          {
            "node": "GitHub Advisories Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Advisories Lookup": {
      "main": [
        [
          {
            "node": "GitHub PoC Repo Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub PoC Repo Search": {
      "main": [
        [
          {
            "node": "Collect OSS Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect OSS Result": {
      "main": [
        [
          {
            "node": "VulnCheck Enrichment (Deactivated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VulnCheck Enrichment (Deactivated)": {
      "main": [
        [
          {
            "node": "Wait 7s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 7s": {
      "main": [
        [
          {
            "node": "Loop OSS Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate OSS Results": {
      "main": [
        [
          {
            "node": "Priority Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority Scoring": {
      "main": [
        [
          {
            "node": "Prepare Analysis Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Analysis Queue": {
      "main": [
        [
          {
            "node": "Loop Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Analysis": {
      "main": [
        [
          {
            "node": "Aggregate Analyses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analysis LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis LLM": {
      "main": [
        [
          {
            "node": "Collect Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Analysis": {
      "main": [
        [
          {
            "node": "Loop Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Analyses": {
      "main": [
        [
          {
            "node": "Prepare Exec Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Exec Input": {
      "main": [
        [
          {
            "node": "Exec Summary LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exec Summary LLM": {
      "main": [
        [
          {
            "node": "Compose Consolidated Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Exec Model": {
      "ai_languageModel": [
        [
          {
            "node": "Exec Summary LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Compose Consolidated Report": {
      "main": [
        [
          {
            "node": "Execution Logger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Should Notify?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is API Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Notify?": {
      "main": [
        [
          {
            "node": "Email - Vuln Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compose Short Briefing",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is API Request?": {
      "main": [
        [
          {
            "node": "Respond Report JSON",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Compose Short Briefing": {
      "main": [
        [
          {
            "node": "Teams - Critical Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Chunker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Data Webhook": {
      "main": [
        [
          {
            "node": "Read Report Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Report Cache": {
      "main": [
        [
          {
            "node": "Respond Report Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Chunker": {
      "main": [
        [
          {
            "node": "Telegram - Critical Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Analysis Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analysis LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Input Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Input Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validator": {
      "main": [
        [
          {
            "node": "Fetch PoC Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PoC Check": {
      "main": [
        [
          {
            "node": "Fetch CISA KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CISA KEV": {
      "main": [
        [
          {
            "node": "Fetch EPSS Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch EPSS Score": {
      "main": [
        [
          {
            "node": "Fetch CVE Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CVE Data": {
      "main": [
        [
          {
            "node": "Extract CVE Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CVE Details": {
      "main": [
        [
          {
            "node": "CVE Explainer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CVE Explainer Agent": {
      "main": [
        [
          {
            "node": "Route Webhook Only",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Webhook Only": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Email - CVE Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CVE Explainer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Explainer Data Webhook": {
      "main": [
        [
          {
            "node": "Read Explainer Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Explainer Cache": {
      "main": [
        [
          {
            "node": "Respond Explainer Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}